<script type="text/x-kendo-tmpl" id="manage_customer_survey_open_list_view_template">
	<div class="ms_call_list">
		<div>
			<span style="font-size: 1.2em;"><b>#: call_no # </b></span>
			<span style="float:right; font-weight: bold;">#: call_status_desc # </span>
		</div>
		<div>
			<span>#: customer_name # </span>
			<span>[#: customer_id #]</span>
			<span>[#: cust_location_code #]</span>
		</div>
		<div>
			<span>#: cust_contact_name#</span>
			<span style="float:right"><i class="fa fa-phone" aria-hidden="true" style="font-size: 1em;vertical-align:;padding-right: 5px;vertical-align: baseline;"></i>#: cust_contact_no#</span>
		</div>
		<div>
			<span><i class="fa fa-map-marker" aria-hidden="true" style="font-size: 1em;vertical-align:;padding-right: 5px;vertical-align: baseline;"></i>#: customer_address_line_1 # #: customer_address_line_2 # #: customer_address_line_3 # #: customer_city # #: customer_state # #: customer_pincode # #: customer_country #</span>
		</div>
	</div>
</script>
<script type="text/x-kendo-tmpl" id="manage_customer_survey_closed_list_view_template">
	<div class="ms_call_list">
		<div>
			<span style="font-size: 1.2em;"><b>#: call_no # </b></span>
			<span style="float:right; font-weight: bold;">#: call_status_desc # </span>
		</div>
		<div>
			<span>#: customer_name # </span>
			<span>[#: customer_id #]</span>
			<span>[#: cust_location_code #]</span>
		</div>
		<div>
			<span>#: cust_contact_name#</span>
			<span style="float:right"><i class="fa fa-phone" aria-hidden="true" style="font-size: 1em;vertical-align:;padding-right: 5px;vertical-align: baseline;"></i>#: cust_contact_no#</span>
		</div>
		<div>
			<span><i class="fa fa-map-marker" aria-hidden="true" style="font-size: 1em;vertical-align:;padding-right: 5px;vertical-align: baseline;"></i>#: customer_address_line_1 # #: customer_address_line_2 # #: customer_address_line_3 # #: customer_city # #: customer_state # #: customer_pincode # #: customer_country #</span>
		</div>
	</div>
</script>