declare @p_user_id nvarchar(12),@p_locale_id nvarchar(5),@p_inputparam_udf_xml [uddt_nvarchar_max],@p_session_id [sessionid]

declare @p_company_id [varchar](20),@p_country_code [varchar](5),@p_asset_id [nvarchar](30),@p_equipment_id [nvarchar](30),@p_customer_id [nvarchar](30) ,@p_customer_location_code [nvarchar](30),@p_company_location_code [nvarchar](30),@p_asset_category [nvarchar](15),@p_asset_type [nvarchar](15),@p_asset_status [varchar](2) ,@p_additional_information [nvarchar](2000),@p_asset_location_code [nvarchar](50) ,@p_locator_layout [nvarchar](30) ,@p_servicing_org_level_no [tinyint],@p_servicing_org_level_code [varchar](30) ,@p_installation_date [datetimeoffset](7),@p_installation_job_ref_no [nvarchar](30) ,@p_installation_by_org_level_no [tinyint],@p_installation_by_org_level_code [varchar](30) ,@p_oem_invoice_no [nvarchar] (60) ,@p_oem_invoice_date [datetimeoffset](7) ,@p_oem_invoiced_by_org_level_no [tinyint],@p_oem_invoiced_by_org_level_code [varchar](30) ,@p_customer_invoice_no [nvarchar] (60) ,@p_customer_invoice_date [datetimeoffset](7) ,@p_invoiced_to_customer_by_org_level_no [tinyint],@p_invoiced_to_customer_by_org_level_code [varchar](30) ,@p_std_wty_template_id [nvarchar](200) ,@p_std_wty_pm_applicable_ind bit,@p_std_wty_duration [tinyint] ,@p_std_wty_duration_uom [varchar](1) ,@p_std_wty_frequency [numeric](5, 0) ,@p_std_wty_start_date [datetimeoffset](7) ,@p_std_wty_end_date [datetimeoffset](7) ,@p_created_by_emp_id [nvarchar](12) ,@p_creation_date [datetimeoffset](7) ,@p_asset_location_country_code [varchar](5) ,@p_asset_location_state_code [nvarchar](10) ,@p_asset_location_district_code [nvarchar](20) ,@p_udf_char_1 [nvarchar](60) ,@p_udf_char_2 [nvarchar](60) ,@p_udf_char_3 [nvarchar](60) ,@p_udf_char_4 [nvarchar](60) ,@p_udf_char_5 [nvarchar](60) ,@p_udf_char_6 [nvarchar](60) ,@p_udf_char_7 [nvarchar](60) ,@p_udf_char_8 [nvarchar](60) ,@p_udf_char_9 [nvarchar](60) ,@p_udf_char_10 [nvarchar](60),@p_udf_float_1 [float],@p_udf_float_2 [float],@p_udf_float_3 [float],@p_udf_float_4 [float],@p_udf_date_1 [datetimeoffset](7),@p_udf_date_2 [datetimeoffset](7),@p_udf_date_3 [datetimeoffset](7),@p_udf_date_4 [datetimeoffset](7),@p_udf_analysis_code1 [nvarchar](20),@p_udf_analysis_code2 [nvarchar](20),@p_udf_analysis_code3 [nvarchar](20),@p_udf_analysis_code4 [nvarchar](20),@p_child_asset_id [nvarchar](30),@p_child_equipment_id [nvarchar](60),@p_child_equipment_oem [nvarchar](60),@p_child_equipment_category [nvarchar](30),@p_child_equipment_type [nvarchar](30),@p_child_asset_status [varchar](2)

drop table if exists #asset

create table #asset (
	[company_id] [varchar](20) NOT NULL,
	[country_code] [varchar](5) NOT NULL,
	[asset_id] [nvarchar](30) NOT NULL,
	[equipment_id] [nvarchar](30) NOT NULL,
	[customer_id] [nvarchar](30) NOT NULL,
	[customer_location_code] [nvarchar](30) NOT NULL,
	[company_location_code] [nvarchar](30) NOT NULL,
	[asset_category] [nvarchar](15) NOT NULL,
	[asset_type] [nvarchar](15) NOT NULL,
	[asset_status] [varchar](2) NOT NULL,
	[additional_information] [nvarchar](2000) NULL, 
	[asset_location_code] [nvarchar](50) NULL,
	[locator_layout] [nvarchar](30) NULL,
	[servicing_org_level_no] [tinyint] NOT NULL,
	[servicing_org_level_code] [varchar](30) NOT NULL,
	[installation_date] [datetimeoffset](7) NULL,
	[installation_job_ref_no] [nvarchar](30) NULL,
	[installation_by_org_level_no] [tinyint] NULL,
	[installation_by_org_level_code] [varchar](30) NULL,
	[oem_invoice_no] [nvarchar] (60) NULL,
	[oem_invoice_date] [datetimeoffset](7) NULL,
	[oem_invoiced_by_org_level_no] [tinyint] NULL,
	[oem_invoiced_by_org_level_code] [varchar](30) NULL,
	[customer_invoice_no] [nvarchar](60) NULL,
	[customer_invoice_date] [datetimeoffset](7) NULL,
	[invoiced_to_customer_by_org_level_no] [tinyint] NULL,
	[invoiced_to_customer_by_org_level_code] [varchar](30)NULL,
	[std_wty_template_id] [nvarchar](200) NULL,
	[std_wty_pm_applicable_ind] [bit] NULL,
	[std_wty_duration] [tinyint] NULL,
	[std_wty_duration_uom] [varchar](1) NULL,
	[std_wty_frequency] [numeric](5, 0) NULL,
	[std_wty_start_date] [datetimeoffset](7) NULL, 
	[std_wty_end_date] [datetimeoffset](7) NULL,
	[created_by_emp_id] [nvarchar](12) NOT NULL,
	[creation_date] [datetimeoffset](7) NOT NULL,
	[asset_location_country_code] [varchar](5) NULL,
	[asset_location_state_code] [nvarchar](10) NULL,
	[asset_location_district_code] [nvarchar](20) NULL,
	[udf_char_1] [nvarchar](60) NULL,
	[udf_char_2] [nvarchar](60) NULL,
	[udf_char_3] [nvarchar](60) NULL,
	[udf_char_4] [nvarchar](60) NULL,
	[udf_char_5] [nvarchar](60) NULL,
	[udf_char_6] [nvarchar](60) NULL,
	[udf_char_7] [nvarchar](60) NULL,
	[udf_char_8] [nvarchar](60) NULL,
	[udf_char_9] [nvarchar](60) NULL,
	[udf_char_10] [nvarchar](60) NULL,
	[udf_float_1] [float] NULL,
	[udf_float_2] [float] NULL,
	[udf_float_3] [float] NULL,
	[udf_float_4] [float] NULL,
	[udf_date_1] [datetimeoffset](7) NULL,
	[udf_date_2] [datetimeoffset](7) NULL,
	[udf_date_3] [datetimeoffset](7) NULL,
	[udf_date_4] [datetimeoffset](7) NULL,
	[udf_analysis_code1] [nvarchar](20) NULL,
	[udf_analysis_code2] [nvarchar](20) NULL,
	[udf_analysis_code3] [nvarchar](20) NULL,
	[udf_analysis_code4] [nvarchar](20) NULL,
	[child_asset_id] [nvarchar](30) NOT NULL,
	[child_equipment_id] [nvarchar](30) NOT NULL,
	[child_equipment_oem] [nvarchar](60) NULL,
	[child_equipment_category] [nvarchar](30) NULL,
	[child_equipment_type] [nvarchar](30) NULL,
	[child_asset_status] [varchar](2) NOT NULL
)




/* INSERT QUERY NO: 1 */


	declare asset_creation_cursor cursor for
	select company_id,country_code,asset_id,equipment_id,customer_id,customer_location_code,company_location_code,asset_category,asset_type,asset_status,additional_information,asset_location_code,locator_layout,servicing_org_level_no,servicing_org_level_code,installation_date,installation_job_ref_no,installation_by_org_level_no,installation_by_org_level_code,oem_invoice_no,oem_invoice_date,oem_invoiced_by_org_level_no,oem_invoiced_by_org_level_code,customer_invoice_no,customer_invoice_date,invoiced_to_customer_by_org_level_no,invoiced_to_customer_by_org_level_code,std_wty_template_id,std_wty_pm_applicable_ind,std_wty_duration,std_wty_duration_uom,std_wty_frequency,std_wty_start_date,std_wty_end_date,created_by_emp_id,creation_date,asset_location_country_code,asset_location_state_code,asset_location_district_code,udf_char_1,udf_char_2,udf_char_3,udf_char_4,udf_char_5,udf_char_6,udf_char_7,udf_char_8,udf_char_9,udf_char_10,udf_float_1,udf_float_2,udf_float_3,udf_float_4,udf_date_1,udf_date_2,udf_date_3,udf_date_4,udf_analysis_code1,udf_analysis_code2,udf_analysis_code3,udf_analysis_code4,child_asset_id,child_equipment_id,child_equipment_oem,child_equipment_category,child_equipment_type,child_asset_status
	from #asset

		open asset_creation_cursor

		fetch next from asset_creation_cursor
		into @p_company_id,@p_country_code,@p_asset_id,@p_equipment_id,@p_customer_id,@p_customer_location_code,@p_company_location_code,@p_asset_category,@p_asset_type,@p_asset_status,@p_additional_information,@p_asset_location_code,@p_locator_layout,@p_servicing_org_level_no,@p_servicing_org_level_code,@p_installation_date,@p_installation_job_ref_no,@p_installation_by_org_level_no,@p_installation_by_org_level_code,@p_oem_invoice_no,@p_oem_invoice_date,@p_oem_invoiced_by_org_level_no,@p_oem_invoiced_by_org_level_code,@p_customer_invoice_no,@p_customer_invoice_date,@p_invoiced_to_customer_by_org_level_no,@p_invoiced_to_customer_by_org_level_code,@p_std_wty_template_id,@p_std_wty_pm_applicable_ind,@p_std_wty_duration,@p_std_wty_duration_uom,@p_std_wty_frequency,@p_std_wty_start_date,@p_std_wty_end_date,@p_created_by_emp_id,@p_creation_date,@p_asset_location_country_code,@p_asset_location_state_code,@p_asset_location_district_code,@p_udf_char_1,@p_udf_char_2,@p_udf_char_3,@p_udf_char_4,@p_udf_char_5,@p_udf_char_6,@p_udf_char_7,@p_udf_char_8,@p_udf_char_9,@p_udf_char_10,@p_udf_float_1,@p_udf_float_2,@p_udf_float_3,@p_udf_float_4,@p_udf_date_1,@p_udf_date_2,@p_udf_date_3,@p_udf_date_4,@p_udf_analysis_code1,@p_udf_analysis_code2,@p_udf_analysis_code3,@p_udf_analysis_code4,@p_child_asset_id,@p_child_equipment_id,@p_child_equipment_oem,@p_child_equipment_category,@p_child_equipment_type,@p_child_asset_status

		while @@FETCH_STATUS = 0
		begin
			
			select  top(1)@p_user_id = a.user_id,
					@p_locale_id = 'en-us'
			from users a, employee b
			where a.company_id = @p_company_id
				and a.country_code = @p_country_code
				and b.company_id = a.company_id
				and b.country_code = a.country_code
				and b.employee_id = a.employee_id
				and a.user_group_id = 'OEM_SECORD'
				and b.organogram_level_code = @p_servicing_org_level_code
				and b.organogram_level_no = @p_servicing_org_level_no
			
			if not exists(select 1 from asset_master 
						  where company_id = @p_company_id 
						  and country_code = @p_country_code
						  and asset_id = @p_asset_id)
			begin
				
				  DECLARE	@return_value int,
							@o_update_status uddt_varchar_5,
							@errorNo errorno,
							@p_inputparam_detail1 [sp_save_manage_asset_master_inputparam_detail1], 
							@p_inputparam_detail2 [sp_save_manage_asset_master_inputparam_detail2], 
							@p_inputparam_detail3 [sp_save_manage_asset_master_inputparam_detail3], 
							@p_inputparam_detail4 [sp_save_manage_asset_master_inputparam_detail4], 
							@p_inputparam_detail5 [sp_save_manage_asset_master_inputparam_detail5] 
				  
				  select @p_inputparam_udf_xml = '<inputparam><udf_equipment_id>'+@p_equipment_id+'</udf_equipment_id><udf_float_1/><udf_asset_location_country_code>in</udf_asset_location_country_code><udf_asset_location_state_code>'+@p_asset_location_state_code+'</udf_asset_location_state_code><udf_asset_location_district_code>'+@p_asset_location_district_code+'</udf_asset_location_district_code>
				  <udf_char_1>'+isnull(@p_udf_char_1,'')+'</udf_char_1><udf_char_7>'+isnull(@p_udf_char_7,'')+
				  '</udf_char_7><udf_analysis_code2>+91-'+isnull(@p_udf_analysis_code2,'')+'</udf_analysis_code2><udf_char_6>'+isnull(@p_udf_char_6,'')+'</udf_char_6><udf_char_8>'+
				  isnull(@p_udf_char_8,'')+'</udf_char_8><udf_char_4/><udf_char_5/><udf_char_2/><udf_date_2/><udf_date_2_hour>00</udf_date_2_hour><udf_date_2_minute>00</udf_date_2_minute></inputparam>'
				  
			
				 insert @p_inputparam_detail1 (i_txn_detail1_sl_no, i_txn_detail1_coref_xml, i_txn_detail1_udf_xml, i_txn_detail1_crud_ind)
				  select 1, '<asset_category>'+@p_asset_category+'</asset_category><asset_type>'+@p_asset_type+'</asset_type><customer_location>'+@p_customer_location_code+'</customer_location><company_location>'+@p_company_location_code+'</company_location><installation_job_ref_no/><installation_by_org_level_no>'+cast(@p_servicing_org_level_no as varchar(2))+'</installation_by_org_level_no><installation_by_org_level_code>'+@p_servicing_org_level_code+'</installation_by_org_level_code><oem_invoice_no>'+isnull(@p_oem_invoice_no,'')+'</oem_invoice_no><oem_invoice_date>'+isnull(cast(@p_oem_invoice_date as nvarchar(10)),'')+'</oem_invoice_date><oem_invoiced_by_org_level_no>'+cast(@p_servicing_org_level_no as varchar(2))+'</oem_invoiced_by_org_level_no><oem_invoiced_by_org_level_code>'+@p_servicing_org_level_code+'</oem_invoiced_by_org_level_code><customer_invoice_no>'+isnull(@p_customer_invoice_no,'')+'</customer_invoice_no><customer_invoice_date>'+isnull(cast(@p_customer_invoice_date as nvarchar(10)),'')+'</customer_invoice_date><invoiced_to_customer_by_org_level_no>'+cast(@p_servicing_org_level_no as varchar(2))+'</invoiced_to_customer_by_org_level_no><invoiced_to_customer_by_org_level_code>'+@p_servicing_org_level_code+'</invoiced_to_customer_by_org_level_code><std_wty_template_id/><std_wty_pm_applicable_ind>0</std_wty_pm_applicable_ind><std_wty_duration/><std_wty_duration_uom/><std_wty_start_date/><std_wty_end_date/><std_wty_frequency/>', '<inputparam></inputparam>','A'
	
				  if @p_child_equipment_oem != ''
				  begin
					   insert @p_inputparam_detail2 (i_txn_detail2_sl_no, i_txn_detail2_coref_xml, i_txn_detail2_udf_xml, i_txn_detail2_crud_ind)
					   select 1, '<child_equipment_oem>'+@p_child_equipment_oem+'</child_equipment_oem><child_equipment_category>'+@p_child_equipment_category+'</child_equipment_category><child_equipment_type>'+@p_child_equipment_type+'</child_equipment_type><child_equipment_id>'+@p_child_equipment_id+'</child_equipment_id><child_asset_id>'+@p_child_asset_id+'</child_asset_id>', '<inputparam><udf_subequip_id>'+@p_child_equipment_id+'</udf_subequip_id><udf_date_1>'+isnull(cast(@p_udf_date_1 as nvarchar(10)),'')+'</udf_date_1><udf_date_1_hour>00</udf_date_1_hour><udf_date_1_minute>00</udf_date_1_minute></inputparam>','A'
			
				  end

				  select @p_session_id = NEWID()

					SELECT	@o_update_status = ''
					SELECT	@errorNo = ''

					EXEC	@return_value = [dbo].[sp_save_manage_asset_master]
							@i_session_id = @p_session_id,
							@i_user_id = @p_user_id,
							@i_client_id = @p_company_id,
							@i_locale_id = @p_locale_id,
							@i_country_code = @p_country_code,
							@i_asset_id = @p_asset_id,
							@i_equipment_id = @p_equipment_id,
							@i_customer_id = @p_customer_id,
							@i_asset_location_code = @p_asset_location_code,
							@i_locator_layout = '',
							@i_installation_date = @p_installation_date,
							@i_asset_status = @p_asset_status,
							@i_org_level_no = @p_servicing_org_level_no,
							@i_org_level_code = @p_servicing_org_level_code,
							@i_rec_tstamp = '00000000-0000-0000-0000-000000000000',
							@i_inputparam_udf_xml = @p_inputparam_udf_xml,
							@i_save_mode = 'A',
							@o_update_status = @o_update_status OUTPUT,
							@inputparam_detail1 = @p_inputparam_detail1,
							@inputparam_detail2 = @p_inputparam_detail2,
							@inputparam_detail3 = @p_inputparam_detail3,
							@inputparam_detail4 = @p_inputparam_detail4,
							@inputparam_detail5 = @p_inputparam_detail5,
							@errorNo = @errorNo OUTPUT

					SELECT	@o_update_status as N'@o_update_status',
							@errorNo as N'@errorNo'

					SELECT	'Return Value' = @return_value


			end
			
			
		fetch next from asset_creation_cursor
		into @p_company_id,@p_country_code,@p_asset_id,@p_equipment_id,@p_customer_id,@p_customer_location_code,@p_company_location_code,@p_asset_category,@p_asset_type,@p_asset_status,@p_additional_information,@p_asset_location_code,@p_locator_layout,@p_servicing_org_level_no,@p_servicing_org_level_code,@p_installation_date,@p_installation_job_ref_no,@p_installation_by_org_level_no,@p_installation_by_org_level_code,@p_oem_invoice_no,@p_oem_invoice_date,@p_oem_invoiced_by_org_level_no,@p_oem_invoiced_by_org_level_code,@p_customer_invoice_no,@p_customer_invoice_date,@p_invoiced_to_customer_by_org_level_no,@p_invoiced_to_customer_by_org_level_code,@p_std_wty_template_id,@p_std_wty_pm_applicable_ind,@p_std_wty_duration,@p_std_wty_duration_uom,@p_std_wty_frequency,@p_std_wty_start_date,@p_std_wty_end_date,@p_created_by_emp_id,@p_creation_date,@p_asset_location_country_code,@p_asset_location_state_code,@p_asset_location_district_code,@p_udf_char_1,@p_udf_char_2,@p_udf_char_3,@p_udf_char_4,@p_udf_char_5,@p_udf_char_6,@p_udf_char_7,@p_udf_char_8,@p_udf_char_9,@p_udf_char_10,@p_udf_float_1,@p_udf_float_2,@p_udf_float_3,@p_udf_float_4,@p_udf_date_1,@p_udf_date_2,@p_udf_date_3,@p_udf_date_4,@p_udf_analysis_code1,@p_udf_analysis_code2,@p_udf_analysis_code3,@p_udf_analysis_code4,@p_child_asset_id,@p_child_equipment_id,@p_child_equipment_oem,@p_child_equipment_category,@p_child_equipment_type,@p_child_asset_status

	end	
	close asset_creation_cursor
	deallocate asset_creation_cursor


	Update asset_master set udf_analysis_code2 = NULL where company_id ='aqrs' and country_code ='in' and udf_analysis_code2 = '+91-'
	Update asset_master_boa set udf_date_1 = NULL where company_id ='aqrs' and country_code ='in' and udf_date_1 = '1900-01-01 00:00:00.0000000 +00:00'
