<style>
	.ms_call_list_info_icon
	{
		display: flex;
		justify-content: center;
		align-items: center;
		border-radius: 18px;
		width: 1.2em;
		height: 0.5em;
		padding: 0.8em !important;
		margin-right: 0.8em;
	}
	.ms_call_list_container
	{
		border-radius: 20px;
		margin: 0.5em;
	}
	.ms_call_list_header, .ms_call_list_header_one
	{
		border-radius: 20px 20px 0px 0px;
	}
	.ms_call_list_content
	{
		border-radius: 0px 0px 20px 20px;
	}
</style>	
<script type="text/x-kendo-tmpl" id="my_visit_call_listview_template" data-ms-mswidget-for="my_visit_call" data-ms-mswidget-template-type="listview">
	<div class="ms_call_list_container">
		<div class="ms_call_list_header">
			<div class="ms_call_list_header_number">
				<div class="ms_call_list_header_one">
					<h4>#: data.request_ref_no #</h4>
					# if (data.activeCallInd) { #
						<div class="ms_call_list_active">
							<p>Active</p>
						</div>
					# } #
				</div>
			</div>
			<div class="ms_call_list_header_status">
				<h4>#: data.request_type_desc #</h4>
				<h4>#: data.request_status_desc #</h4>
			</div>
		</div>
		<div class="ms_call_list_content">
			<div>
				# if (data.assigned_to_emp_id !== "") { #
					<div class="ms_call_list_info_container">
						<div class="ms_call_list_info_icon">
							<i class="fa-regular fa-user-helmet-safety"></i>
						</div>
						<div class="ms_call_list_info_details">
							# if (mService.containR.variable.my_visit_call.controller.list.presentR.workflow_actions_type === "inlist") { #
								<p>#: data.assigned_to_emp_name # [ #: data.assigned_to_emp_id # ]</p>
							# } else { #
								<p class="ms_call_list_info_details_p_content">#: data.assigned_to_emp_name # [ #: data.assigned_to_emp_id # ]</p>
							# } #						
						</div>
					</div>
				# } #
				# if (data.customer_id !== "") { #
					<div class="ms_call_list_info_container">
						<div class="ms_call_list_info_icon">
							<i class="fa-solid fa-user-tie"></i>
						</div>
						<div class="ms_call_list_info_details">
							# if (mService.containR.variable.my_visit_call.controller.list.presentR.workflow_actions_type === "inlist") { #
								<p>#: data.customer_name # [ #: data.customer_id # ]</p>
							# } else { #
								<p class="ms_call_list_info_details_p_content">#: data.customer_name # [ #: data.customer_id # ]</p>
							# } #						
						</div>
					</div>
				# } #
				# if (data.customer_city !== "") { #
					<div class="ms_call_list_info_container">
						<div class="ms_call_list_info_icon">
							<i class="fa-regular fa-location-dot"></i>
						</div>
						<div class="ms_call_list_info_details">
							# if (mService.containR.variable.my_visit_call.controller.list.presentR.workflow_actions_type === "inlist") { #
								<p>#: data.customer_city #</p>
							# } else { #
								<p class="ms_call_list_info_details_p_content">#: data.customer_city #</p>
							# } #						
						</div>
					</div>
				# } #
				# if (data.asset_id !== "") { #
					<div class="ms_call_list_info_container">
						<div class="ms_call_list_info_icon">
							<i class="fa-regular fa-screwdriver-wrench"></i>
						</div>
						<div class="ms_call_list_info_details">
							# if (mService.containR.variable.my_visit_call.controller.list.presentR.workflow_actions_type === "inlist") { #
								<p>#: data.asset_id # [ #: data.equipment_id # ] [ #: data.equipment_desc # ]</p>
							# } else { #
								<p class="ms_call_list_info_details_p_content">#: data.asset_id # [ #: data.equipment_id # ] [ #: data.equipment_desc # ]</p>
							# } #						
						</div>
					</div>
				# } #
				# if (data.problem_description !== "") { #
					<div class="ms_call_list_info_container">
						<div class="ms_call_list_info_icon">
							<i class="fa-regular fa-triangle-exclamation"></i>
						</div>
						<div class="ms_call_list_info_details">
							# if (mService.containR.variable.my_visit_call.controller.list.presentR.workflow_actions_type === "inlist") { #
								<p>#: data.problem_description #</p>
							# } else { #
								<p class="ms_call_list_info_details_p_content">#: data.problem_description #</p>
							# } #						
						</div>
					</div>
				# } #
			</div>
			# if (mService.containR.variable.my_visit_call.controller.list.presentR.workflow_actions_type === "popup") { #
				<div class="ms_call_list_info_popup_action_icon ms_button_click km-widgets km-button" id="my_visit_call_list_action_container_#: data.uid #" data-ms-widget-type="mButton" data-ms-button-group="listview" data-ms-button-role="actionsPopup" data-ms-uid="#: data.uid #" class="ms_button_click km-button km-widgets">
					<i class="far fa-external-link"></i>
				</div>
			# } #
		</div>
		# if (mService.containR.variable.my_visit_call.controller.list.presentR.workflow_actions_type === "inlist") { #
			<div class="ms_call_list_action_wrapper">
				<div class="ms_call_list_info_action_container" id="my_visit_call_list_action_container_#: data.uid #"></div>
			</div>
		# } #
	</div>
</script>
<script type="text/x-kendo-tmpl" id="my_visit_call_listview_template" data-ms-mswidget-for="my_visit_call" data-ms-mswidget-template-type="scrollview">
	<div class="ms_scroll_view_container_call_list">
		<div class="ms_scroll_view_request_cont" style="height: 66vh;overflow: scroll;">
			<div style="position: relative;">
				<p class="ms_scroll_view_no " style="padding-top: 1.4em;padding-bottom: 1.3em;">#: data.request_ref_no #</p>
				# if (data.activeCallInd) { #
					<div class="ms_call_list_active" style="position: absolute;top: 0px;right: 0;">
						<p>Active</p>
					</div>
				# } #
			</div>			
			<div class="ms_scroll_view_status">
				<p class="ms_service_call_status_description"><b> #: data.request_status_desc # </b></p>
			</div>
			<div class="ms_scroll_view_action_wrapper" >
				#if(mService.containR.variable.my_visit_call.controller.list.presentR.workflow_actions_type === "inlist"){#
					<div>
						<div id="my_visit_call_list_action_container_#: data.uid #" class="ms_scroll_view_action_container"></div> 
						<!-- <div class="ms_my_visit_call_list_action_container_wrapper" style="padding: 1em 0; display:grid; place-items:center;">
							<div id="my_visit_call_list_action_container_#: data.uid #" class="ms_list_action_container"></div>
						</div> -->
					</div>
				#} else { #
					<!-- <div class="ms_call_list_info_popup_action_icon ms_button_click km-widgets km-button" id="my_visit_call_list_action_container_#: data.uid #" data-ms-widget-type="mButton" data-ms-button-group="listview" data-ms-button-role="actionsPopup" data-ms-uid="#: data.uid #">
						<i class="far fa-external-link"></i>
					</div> -->
					<div style="display:flex; justify-content:center;padding:1em;">
						<div data-ms-widget-type="mButton" data-ms-button-group="listview" data-ms-button-role="actionsPopup" data-ms-uid="#: data.uid #"  class="ms_call_list_info_popup_action_icon ms_button_click km-widgets km-button">
							<i class="far fa-external-link"></i>
						</div>
					</div>
				#} #
			</div>	
			<div class="ms_scrollview_info_wrapper">
				# if (data.assigned_to_emp_id !== "") { #
					<div class="ms_scrollview_info_container">
						<div class="ms_scrollview_info_icon">
							<i class="fa-regular fa-user-helmet-safety"></i>
						</div>
						<div class="ms_scrollview_info_details">
							# if (mService.containR.variable.my_visit_call.controller.list.presentR.workflow_actions_type === "inlist") { #
								<p>#: data.assigned_to_emp_name # [ #: data.assigned_to_emp_id # ]</p>
							# } else { #
								<p class="ms_scrollview_info_details_p_content">#: data.assigned_to_emp_name # [ #: data.assigned_to_emp_id # ]</p>
							# } #						
						</div>
					</div>
				# } #
				# if (data.customer_id !== "") { #
					<div class="ms_scrollview_info_container">
						<div class="ms_scrollview_info_icon">
							<i class="fa-solid fa-user-tie"></i>
						</div>
						<div class="ms_scrollview_info_details">
							# if (mService.containR.variable.my_visit_call.controller.list.presentR.workflow_actions_type === "inlist") { #
								<p>#: data.customer_name # [ #: data.customer_id # ]</p>
							# } else { #
								<p class="ms_scrollview_info_details_p_content">#: data.customer_name # [ #: data.customer_id # ]</p>
							# } #						
						</div>
					</div>
				# } #
				# if (data.customer_city !== "") { #
					<div class="ms_scrollview_info_container">
						<div class="ms_scrollview_info_icon">
							<i class="fa-regular fa-location-dot"></i>
						</div>
						<div class="ms_scrollview_info_details">
							# if (mService.containR.variable.my_visit_call.controller.list.presentR.workflow_actions_type === "inlist") { #
								<p>#: data.customer_city #</p>
							# } else { #
								<p class="ms_scrollview_info_details_p_content">#: data.customer_city #</p>
							# } #						
						</div>
					</div>
				# } #
				# if (data.asset_id !== "") { #
					<div class="ms_scrollview_info_container">
						<div class="ms_scrollview_info_icon">
							<i class="fa-regular fa-screwdriver-wrench"></i>
						</div>
						<div class="ms_scrollview_info_details">
							# if (mService.containR.variable.my_visit_call.controller.list.presentR.workflow_actions_type === "inlist") { #
								<p>#: data.asset_id # [ #: data.equipment_id # ] [ #: data.equipment_desc # ]</p>
							# } else { #
								<p class="ms_scrollview_info_details_p_content">#: data.asset_id # [ #: data.equipment_id # ] [ #: data.equipment_desc # ]</p>
							# } #						
						</div>
					</div>
				# } #
				# if (data.problem_description !== "") { #
					<div class="ms_scrollview_info_container">
						<div class="ms_scrollview_info_icon">
							<i class="fa-regular fa-triangle-exclamation"></i>
						</div>
						<div class="ms_scrollview_info_details">
							# if (mService.containR.variable.my_visit_call.controller.list.presentR.workflow_actions_type === "inlist") { #
								<p>#: data.problem_description #</p>
							# } else { #
								<p class="ms_scrollview_info_details_p_content">#: data.problem_description #</p>
							# } #						
						</div>
					</div>
				# } #
			</div>
		</div>	
	</div>
</script>
<script type="text/x-kendo-tmpl" id="my_visit_call_list_actions_template" data-ms-mswidget-for="my_visit_call" data-ms-mswidget-template-type="workflow_events">
	# if (mService.containR.variable.my_visit_call.controller.list.presentR.workflow_actions_type === "inlist") { #
		<div  data-ms-widget-type="mButton" data-ms-button-group="listview" data-ms-button-role="wflowEvent" data-ms-containr-param='{"list_uid":"#:uid#","feature_id":"#:featureID#"}' class="ms_button_click km-widgets km-button ms_call_list_info_action_icon_container">
			<div class="ms_call_list_info_action_icons">
	# } else { #
		<div  data-ms-widget-type="mButton" data-ms-button-group="listview" data-ms-button-role="wflowEvent" data-ms-containr-param='{"list_uid":"#:uid#","feature_id":"#:featureID#"}' class="ms_button_click km-widgets km-button ms_call_list_info_pop_action_icon_container">
			<div class="ms_call_list_info_pop_action_icons">
	# } #
				<i class="fa-regular #: mService.icons.my_actions[featureID] #"></i>
			</div>
			<div class="ms_call_list_info_action_icon_label">
				<p data-ms-lbl="field" data-ms-lbl-src="#: scrID #" data-ms-lbl-grpid="wFlowEvents" data-ms-lbl-id="#:featureID#"></p>
			</div>
		</div>
</script>
<script type="text/x-kendo-tmpl" id="my_visit_call_list_empty_state_template" data-ms-mswidget-for="my_visit_call" data-ms-mswidget-template-type="empty_state">
	<div class="ms_calll_list_nodata_container">
        <div class="ms_calll_list_nodata_icon_container">
			<i class="fa-duotone fa-files ms_calll_list_nodata_icon_one"></i>
            <i class="far fa-search ms_calll_list_nodata_icon_two" ></i>
            <i class="far fa-times ms_calll_list_nodata_icon_three"></i>
        </div>
        <div class=ms_calll_list_nodata_text>
            <h3 data-ms-lbl="field" data-ms-lbl-src="system_messages" data-ms-lbl-grpid="search" data-ms-lbl-id="list_empty_message_heading"></h3>
            <p data-ms-lbl="field" data-ms-lbl-src="system_messages" data-ms-lbl-grpid="search" data-ms-lbl-id="list_empty_message_sub_heading"></p>
        </div>
    </div>
</script>
<script type="text/x-kendo-tmpl" id="my_visit_call_map_address_info_template" data-ms-mswidget-for="my_visit_call" data-ms-mswidget-template-type="map_address_info">
	<div>
		<div class="ms_scroll_view_map_user_info_section">
			<div class="ms_scroll_view_section_content">
				<span class="ms_scroll_view_section_content_container" style="display: grid;place-content: center;">
					<img src="http://15.207.195.177:97/content_store/liugong/vn/engg_image/profile_picture.png" class="img-responsive" style="width:100px;height: 100px; padding: .5em;" />		
				</span>	
			</div>
			<div class="ms_scroll_view_section_content">
				<span class="ms_scroll_view_section_content_container">
					<span class=" ms_scroll_view_icons ms_theme_color1">
						<i class="fas fa-user-hard-hat ms_theme_bg_color7 ms_theme_color1 ms_scroll_view_iconsize"></i>
					</span>
					<span class="ms_scroll_view_data">#: data.assigned_to_emp_name # [ #: data.assigned_to_emp_id # ]</span>		
				</span>	
			</div>
			<div class="ms_scroll_view_section_content">
				<span class="ms_scroll_view_section_content_container">
					<span class="ms_scroll_view_icons">
						<i class="fas fa-mobile-alt ms_theme_bg_color7 ms_theme_color1 ms_scroll_view_iconsize"></i>
					</span>						
					# if(data.cust_contact_no === "") { #
						<span class="ms_scroll_view_data">Contact Number not available</span>
					# } else { #
						<span class="ms_scroll_view_data">#: data.assigned_to_emp_contact_no #</span>
					# } #
				</span>	
			</div>
			<div  class="ms_scroll_view_section_content">
				<span class="ms_scroll_view_section_content_container">
					<span class="ms_scroll_view_icons">
						<i class="fas fa-map-marker-alt ms_theme_bg_color7 ms_theme_color1 ms_scroll_view_iconsize"></i>
					</span>
					<span class="ms_scroll_view_data">#: data.last_known_address #</span>
				</span>	
			</div>
		</div>	
	</div>
</script>