/****** Object:  StoredProcedure [dbo].[sp_retrieve_manage_custom_info_list_manage_parts_order_wfeventverb_status_change_import]    Script Date: 20-05-2024 16:09:04 ******/
DROP PROCEDURE IF EXISTS [dbo].[sp_retrieve_manage_custom_info_list_manage_parts_order_wfeventverb_status_change_import]
GO
/****** Object:  StoredProcedure [dbo].[sp_retrieve_manage_custom_info_list_manage_parts_order_wfeventverb_status_change_import]    Script Date: 20-05-2024 16:09:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*
 * Function to retrieve list of custom info records
 */
CREATE PROCEDURE [dbo].[sp_retrieve_manage_custom_info_list_manage_parts_order_wfeventverb_status_change_import]
    @i_client_id [uddt_client_id], 
    @i_country_code [uddt_country_code], 
    @i_session_id [sessionid], 
    @i_user_id [userid], 
    @i_locale_id [uddt_locale_id], 
    @i_custom_info_code [uddt_varchar_60], 
    @i_inputparam_xml [uddt_nvarchar_max], 
    @o_retrieve_status [uddt_varchar_5] OUTPUT
AS
BEGIN
    /*
     * Function to retrieve list of ciustom info records
     */
    -- SET NOCOUNT ON added to prevent extra result sets from interfering with SELECT statements.
    SET NOCOUNT ON;

    -- The following SQL snippet illustrates (with sample values) assignment of scalar output parameters
    -- returned out of this stored procedure

    -- Use SET | SELECT for assigning values
    /*
    SET 
         @o_retrieve_status = '' /* string */
     */

    /*
    -- The following SQL snippet illustrates selection of result sets expected from this stored procedure: 
    
    -- Result set 1: custom_info_list

    SELECT
        '' as custom_info_list, /* dummy column aliased by result set name */
        '' as o_custom_info_json /* unicode string */
    FROM <Table name>
    */
	
	
	declare @p_inputparam_xml xml, @p_skip varchar(10), @p_take varchar(10), 
	@p_offset_count int, @p_rowcount int

	create table #input_params
	(
		paramname varchar(50) not null,
		paramval varchar(50) null
	)

	set @p_inputparam_xml = CAST(@i_inputparam_xml as XML)

	insert #input_params
	(paramname, paramval)
	SELECT nodes.value('local-name(.)', 'varchar(50)'),
			nodes.value('(.)[1]', 'varchar(50)')
	FROM @p_inputparam_xml.nodes('/inputparam/*') AS Tbl(nodes)

	update #input_params
	set paramval = null 
	where paramval = 'ALL'
	or paramval = ''

	select @p_skip = paramval from #input_params where paramname = 'skip'

	select @p_take = paramval from #input_params where paramname = 'take'
	

	if 	@p_skip = '%' select @p_skip = 0
	if  @p_take = '%' select @p_take = 0
	
	select @p_offset_count = @p_skip

	if @p_take = 0
		select @p_rowcount = count(*) 
		from warehouse
		where company_id = @i_client_id
			and country_code = @i_country_code
	else
		select @p_rowcount = cast(@p_take as int)
    
	
	declare @p_item_code_import nvarchar(30),
		@p_item_variant_code_import nvarchar(30),
		@p_net_quantity_import decimal(10,2),
		@p_uom_code_import varchar(12),
		@p_final_quantity_import decimal(10,2),
		@p_invoice_quantity_import decimal(10,2),
		@p_inventory_category_import nvarchar(30),
		@p_inventory_type_import nvarchar(30),
		@p_item_serial_no_import nvarchar(10),
		@p_record_index nvarchar(5),
		@p_parts_order_ref_no nvarchar(30),
		@p_eventverb_id nvarchar(60),
		@p_searchcondition_inputparam_xml [uddt_nvarchar_1000],
		@p_count smallint

	declare @p_item_code nvarchar(30),
					@p_item_variant_code nvarchar(30),
					@p_net_quantity decimal(10,2),
					@p_uom_code varchar(12),@p_quantity numeric(14,4)

	SELECT @p_parts_order_ref_no = nodes.value('(parts_order_ref_no)[1]', 'nvarchar(30)'),
		 @p_eventverb_id = nodes.value('(eventverb_id)[1]', 'nvarchar(60)')
		FROM @p_inputparam_xml.nodes('/inputparam/search_field_xml/*') AS Tbl(nodes)

	create table #partsorder_import_data
	(
		parts_order_no nvarchar(30), 
		item_code nvarchar(30), 
		item_variant_code nvarchar(30),
		item_serialized_ind bit, 
		item_serialized_desc nvarchar(30),
		item_serial_no nvarchar(max),
		purchase_rate decimal(14,4), 
		uom_code varchar(12),
		claim_qty decimal(14,4), 
		order_qty decimal(14,4), 
		invoice_qty decimal(14,4),
		serial_no nvarchar(max),
		inventory_category nvarchar(30),
		inventory_type nvarchar(30),
		valid_ind bit,
		record_index nvarchar(5),
		err_message nvarchar(max)
	)

	if @p_eventverb_id = 'PORDAPPROVE'
	begin
		declare parts_order_import_cursor cursor
			for
			SELECT nodes.value('(ic)[1]', 'nvarchar(30)'),
				nodes.value('(ivc)[1]', 'nvarchar(30)'),
				case isnumeric(nodes.value('(cq)[1]', 'nvarchar(30)')) when 1 then nodes.value('(cq)[1]', 'decimal(10,2)') else 0 end,
				nodes.value('(uc)[1]','nvarchar(10)'),
				case isnumeric(nodes.value('(oq)[1]', 'nvarchar(30)')) when 1 then nodes.value('(oq)[1]', 'decimal(10,2)') else 0 end,
				nodes.value('(record_index)[1]', 'nvarchar(5)')
			FROM @p_inputparam_xml.nodes('/inputparam/search_field_xml/*') AS Tbl(nodes)
	
			open parts_order_import_cursor
	
			fetch next from parts_order_import_cursor
			into @p_item_code_import, @p_item_variant_code_import, @p_net_quantity_import, 
				@p_uom_code_import,@p_final_quantity_import, @p_record_index
	
			begin transaction parts_order_transaction_import
	
			while @@FETCH_STATUS = 0
			begin
	
				if exists(select 1 
						  from parts_order_detail a
						  where a.company_id = @i_client_id
							and a.country_code = @i_country_code
							and a.parts_order_no = @p_parts_order_ref_no
							and a.item_code = @p_item_code_import
							and a.item_variant_code = @p_item_variant_code_import
							and a.uom_code = @p_uom_code_import)
				begin
					 if exists (select 1
						 from item_master a
						 where a.company_id	= @i_client_id
						 and   a.country_code = @i_country_code
						 and   a.item_code	= @p_item_code_import
						 and   a.item_variant_code = @p_item_variant_code_import
						 and   a.item_active_ind = 1)
					 begin
						 if ISNUMERIC(@p_net_quantity_import) = 1
						 begin
							 if ISNUMERIC(@p_final_quantity_import) = 1
							 begin
								 if cast(@p_net_quantity_import as numeric(14,0)) > 0
								 begin
									 if cast(@p_final_quantity_import as numeric(14,0)) >= 0
									 begin
										 if exists(select 1 
											  from parts_order_detail a
											  where a.company_id = @i_client_id
												and a.country_code = @i_country_code
												and a.parts_order_no = @p_parts_order_ref_no
												and a.item_code = @p_item_code_import
												and a.item_variant_code = @p_item_variant_code_import
												and a.uom_code = @p_uom_code_import
												and a.quantity = @p_net_quantity_import)
										begin
											if exists(select 1 
											  from parts_order_detail a
											  where a.company_id = @i_client_id
												and a.country_code = @i_country_code
												and a.parts_order_no = @p_parts_order_ref_no
												and a.item_code = @p_item_code_import
												and a.item_variant_code = @p_item_variant_code_import
												and a.uom_code = @p_uom_code_import
												and cast(a.quantity as numeric(14,0)) >= cast(@p_final_quantity_import as numeric(14,0)))
											begin
												insert #partsorder_import_data (parts_order_no,item_code,item_variant_code,item_serialized_ind,item_serialized_desc,item_serial_no,
												purchase_rate,uom_code,claim_qty,order_qty,serial_no,inventory_category,inventory_type,valid_ind,record_index,err_message)
												select @p_parts_order_ref_no,@p_item_code_import, @p_item_variant_code_import,a.item_serialized_ind,
												case a.item_serialized_ind when 1 then 'Yes' else 'No' end,'',b.purchase_rate,
												@p_uom_code_import,@p_net_quantity_import,@p_final_quantity_import,'','LOAN','LOAN','1', @p_record_index,'Success'
												from item_master a,item_rate b
												where a.company_id				= @i_client_id
												and   a.country_code			= @i_country_code
												and   a.company_id				= b.company_id
												and   a.country_code			= b.country_code
												and   a.item_code				= b.item_code
												and   a.item_variant_code		= b.item_variant_code
												and   a.item_code				= @p_item_code_import
												and   a.item_variant_code		= @p_item_variant_code_import
												and   b.uom_code				= @p_uom_code_import
												and   a.item_active_ind = 1
											end
											else
											begin
												insert #partsorder_import_data (parts_order_no,item_code,item_variant_code,item_serialized_ind,item_serialized_desc,item_serial_no,
												purchase_rate,uom_code,claim_qty,order_qty,serial_no,valid_ind,record_index,err_message)
												select @p_parts_order_ref_no,@p_item_code_import, @p_item_variant_code_import,'0','No','',0.0,
												@p_uom_code_import,@p_net_quantity_import,@p_final_quantity_import,'','0', @p_record_index,'Invalid input: Approved quantity is not valid.'
											end
										end
										else
										begin
											insert #partsorder_import_data (parts_order_no,item_code,item_variant_code,item_serialized_ind,item_serialized_desc,item_serial_no,
											purchase_rate,uom_code,claim_qty,order_qty,serial_no,valid_ind,record_index,err_message)
											select @p_parts_order_ref_no,@p_item_code_import, @p_item_variant_code_import,'0','No','',0.0,
											@p_uom_code_import,@p_net_quantity_import,@p_final_quantity_import,'','0', @p_record_index,'Invalid input: Requested quantity is not valid.'
										end
									 end
									 else
									 begin
										insert #partsorder_import_data (parts_order_no,item_code,item_variant_code,item_serialized_ind,item_serialized_desc,item_serial_no,
										purchase_rate,uom_code,claim_qty,order_qty,serial_no,valid_ind,record_index,err_message)
										select @p_parts_order_ref_no,@p_item_code_import, @p_item_variant_code_import,'0','No','',0.0,
										@p_uom_code_import,@p_net_quantity_import,@p_final_quantity_import,'','0', @p_record_index,'Invalid input: Approved quantity cannot be negative.'
									 end
								 end
								 else
								 begin
									insert #partsorder_import_data (parts_order_no,item_code,item_variant_code,item_serialized_ind,item_serialized_desc,item_serial_no,
									purchase_rate,uom_code,claim_qty,order_qty,serial_no,valid_ind,record_index,err_message)
									select @p_parts_order_ref_no,@p_item_code_import, @p_item_variant_code_import,'0','No','',0.0,
									@p_uom_code_import,@p_net_quantity_import,@p_final_quantity_import,'','0', @p_record_index,'Invalid input: Requested quantity cannot be negative.'
								 end
							 end
							 else
							 begin
								insert #partsorder_import_data (parts_order_no,item_code,item_variant_code,item_serialized_ind,item_serialized_desc,item_serial_no,
								purchase_rate,uom_code,claim_qty,order_qty,serial_no,valid_ind,record_index,err_message)
								select @p_parts_order_ref_no,@p_item_code_import, @p_item_variant_code_import,'0','No','',0.0,
								@p_uom_code_import,@p_net_quantity_import,@p_final_quantity_import,'','0', @p_record_index,'Invalid input: Approved quantity is not numeric.'
							 end
						 end
						 else
						 begin
							insert #partsorder_import_data (parts_order_no,item_code,item_variant_code,item_serialized_ind,item_serialized_desc,item_serial_no,
							purchase_rate,uom_code,claim_qty,order_qty,serial_no,valid_ind,record_index,err_message)
							select @p_parts_order_ref_no,@p_item_code_import, @p_item_variant_code_import,'0','No','',0.0,
							@p_uom_code_import,@p_net_quantity_import,@p_final_quantity_import,'','0', @p_record_index,'Invalid input: Requested quantity is not numeric.'
						 end
					 end
					 else
					 begin
						  insert #partsorder_import_data (parts_order_no,item_code,item_variant_code,item_serialized_ind,item_serialized_desc,item_serial_no,
						  purchase_rate,uom_code,claim_qty,order_qty,serial_no,valid_ind,record_index,err_message)
						  select @p_parts_order_ref_no,@p_item_code_import, @p_item_variant_code_import,'0','No','',0.0,
						  @p_uom_code_import,'1','1','','0', @p_record_index,'Invalid input: Item code is inactive.'
					 end
				end
				else
				begin
					insert #partsorder_import_data (parts_order_no,item_code,item_variant_code,item_serialized_ind,item_serialized_desc,item_serial_no,
					purchase_rate,uom_code,claim_qty,order_qty,serial_no,valid_ind,record_index,err_message)
					select @p_parts_order_ref_no,@p_item_code_import, @p_item_variant_code_import,'0','No','',0.0,
					@p_uom_code_import,@p_net_quantity_import,@p_final_quantity_import,'','0', @p_record_index,'Invalid input: Item code not found'
				end 

			fetch next from parts_order_import_cursor
					into @p_item_code_import, @p_item_variant_code_import, @p_net_quantity_import, 
				@p_uom_code_import,@p_final_quantity_import, @p_record_index
	
			end	
			commit transaction parts_order_transaction_import
			close parts_order_import_cursor
			deallocate parts_order_import_cursor 
	  end
	else if @p_eventverb_id = 'PORDSODOUPDATE'
	begin
		declare parts_order_import_cursor cursor
			for
			SELECT nodes.value('(ic)[1]', 'nvarchar(30)'),
				nodes.value('(ivc)[1]', 'nvarchar(30)'),
				case isnumeric(nodes.value('(cq)[1]', 'nvarchar(30)')) when 1 then nodes.value('(cq)[1]', 'decimal(10,2)') else 0 end,
				nodes.value('(uc)[1]','nvarchar(10)'),
				case isnumeric(nodes.value('(oq)[1]', 'nvarchar(30)')) when 1 then nodes.value('(oq)[1]', 'decimal(10,2)') else 0 end,
				case isnumeric(nodes.value('(iq)[1]', 'nvarchar(30)')) when 1 then nodes.value('(iq)[1]', 'decimal(10,2)') else 0 end,
				nodes.value('(record_index)[1]', 'nvarchar(5)')
			FROM @p_inputparam_xml.nodes('/inputparam/search_field_xml/*') AS Tbl(nodes)
	
			open parts_order_import_cursor
	
			fetch next from parts_order_import_cursor
			into @p_item_code_import, @p_item_variant_code_import, @p_net_quantity_import, 
				@p_uom_code_import,@p_final_quantity_import,@p_invoice_quantity_import, @p_record_index
	
			begin transaction parts_order_transaction_import
	
			while @@FETCH_STATUS = 0
			begin
	
				if exists(select 1 
						  from parts_order_detail a
						  where a.company_id = @i_client_id
							and a.country_code = @i_country_code
							and a.parts_order_no = @p_parts_order_ref_no
							and a.item_code = @p_item_code_import
							and a.item_variant_code = @p_item_variant_code_import
							and a.uom_code = @p_uom_code_import)
				begin
					 if exists (select 1
						 from item_master a
						 where a.company_id	= @i_client_id
						 and   a.country_code = @i_country_code
						 and   a.item_code	= @p_item_code_import
						 and   a.item_variant_code = @p_item_variant_code_import
						 and   a.item_active_ind = 1)
					 begin
						 if ISNUMERIC(@p_final_quantity_import) = 1
						 begin
							 if ISNUMERIC(@p_invoice_quantity_import) = 1
							 begin
								 if cast(@p_final_quantity_import as numeric(14,0)) > 0
								 begin
									 if cast(@p_invoice_quantity_import as numeric(14,0)) >= 0
									 begin
										 if exists(select 1 
											  from parts_order_detail a
											  where a.company_id = @i_client_id
												and a.country_code = @i_country_code
												and a.parts_order_no = @p_parts_order_ref_no
												and a.item_code = @p_item_code_import
												and a.item_variant_code = @p_item_variant_code_import
												and a.uom_code = @p_uom_code_import
												and a.ordered_quantity = @p_final_quantity_import)
										begin
											if exists(select 1 
											  from parts_order_detail a
											  where a.company_id = @i_client_id
												and a.country_code = @i_country_code
												and a.parts_order_no = @p_parts_order_ref_no
												and a.item_code = @p_item_code_import
												and a.item_variant_code = @p_item_variant_code_import
												and a.uom_code = @p_uom_code_import
												and cast(a.ordered_quantity as numeric(14,0)) >= cast(@p_invoice_quantity_import as numeric(14,0)))
											begin
												insert #partsorder_import_data (parts_order_no,item_code,item_variant_code,item_serialized_ind,item_serialized_desc,item_serial_no,
												purchase_rate,uom_code,claim_qty,order_qty,invoice_qty,serial_no,inventory_category,inventory_type,valid_ind,record_index,err_message)
												select @p_parts_order_ref_no,@p_item_code_import, @p_item_variant_code_import,a.item_serialized_ind,
												case a.item_serialized_ind when 1 then 'Yes' else 'No' end,'',b.purchase_rate,
												@p_uom_code_import,@p_net_quantity_import,@p_final_quantity_import,@p_invoice_quantity_import,'','LOAN','LOAN','1', @p_record_index,'Success'
												from item_master a,item_rate b
												where a.company_id				= @i_client_id
												and   a.country_code			= @i_country_code
												and   a.company_id				= b.company_id
												and   a.country_code			= b.country_code
												and   a.item_code				= b.item_code
												and   a.item_variant_code		= b.item_variant_code
												and   a.item_code				= @p_item_code_import
												and   a.item_variant_code		= @p_item_variant_code_import
												and   b.uom_code				= @p_uom_code_import
												and   a.item_active_ind = 1

												update #partsorder_import_data
												set #partsorder_import_data.claim_qty = isnull((select cast(a.quantity as varchar(14))
																					 from parts_order_detail a
																					  where a.company_id = @i_client_id
																						and a.country_code = @i_country_code
																						and a.parts_order_no = @p_parts_order_ref_no
																						and a.item_code = #partsorder_import_data.item_code
																						and a.item_variant_code = #partsorder_import_data.item_variant_code
																						and a.uom_code = #partsorder_import_data.uom_code),'')


											end
											else
											begin
												insert #partsorder_import_data (parts_order_no,item_code,item_variant_code,item_serialized_ind,item_serialized_desc,item_serial_no,
												purchase_rate,uom_code,claim_qty,order_qty,serial_no,valid_ind,record_index,err_message)
												select @p_parts_order_ref_no,@p_item_code_import, @p_item_variant_code_import,'0','No','',0.0,
												@p_uom_code_import,@p_net_quantity_import,@p_final_quantity_import,'','0', @p_record_index,'Invalid input: Do quantity is not valid.'
											end
										end
										else
										begin
											insert #partsorder_import_data (parts_order_no,item_code,item_variant_code,item_serialized_ind,item_serialized_desc,item_serial_no,
											purchase_rate,uom_code,claim_qty,order_qty,serial_no,valid_ind,record_index,err_message)
											select @p_parts_order_ref_no,@p_item_code_import, @p_item_variant_code_import,'0','No','',0.0,
											@p_uom_code_import,@p_net_quantity_import,@p_final_quantity_import,'','0', @p_record_index,'Invalid input: Approved quantity is not valid.'
										end
									 end
									 else
									 begin
										insert #partsorder_import_data (parts_order_no,item_code,item_variant_code,item_serialized_ind,item_serialized_desc,item_serial_no,
										purchase_rate,uom_code,claim_qty,order_qty,serial_no,valid_ind,record_index,err_message)
										select @p_parts_order_ref_no,@p_item_code_import, @p_item_variant_code_import,'0','No','',0.0,
										@p_uom_code_import,@p_net_quantity_import,@p_final_quantity_import,'','0', @p_record_index,'Invalid input: Do quantity cannot be negative.'
									 end
								 end
								 else
								 begin
									insert #partsorder_import_data (parts_order_no,item_code,item_variant_code,item_serialized_ind,item_serialized_desc,item_serial_no,
									purchase_rate,uom_code,claim_qty,order_qty,serial_no,valid_ind,record_index,err_message)
									select @p_parts_order_ref_no,@p_item_code_import, @p_item_variant_code_import,'0','No','',0.0,
									@p_uom_code_import,@p_net_quantity_import,@p_final_quantity_import,'','0', @p_record_index,'Invalid input: Approved quantity cannot be negative.'
								 end
							 end
							 else
							 begin
								insert #partsorder_import_data (parts_order_no,item_code,item_variant_code,item_serialized_ind,item_serialized_desc,item_serial_no,
								purchase_rate,uom_code,claim_qty,order_qty,serial_no,valid_ind,record_index,err_message)
								select @p_parts_order_ref_no,@p_item_code_import, @p_item_variant_code_import,'0','No','',0.0,
								@p_uom_code_import,@p_net_quantity_import,@p_final_quantity_import,'','0', @p_record_index,'Invalid input: Do quantity is not numeric.'
							 end
						 end
						 else
						 begin
							insert #partsorder_import_data (parts_order_no,item_code,item_variant_code,item_serialized_ind,item_serialized_desc,item_serial_no,
							purchase_rate,uom_code,claim_qty,order_qty,serial_no,valid_ind,record_index,err_message)
							select @p_parts_order_ref_no,@p_item_code_import, @p_item_variant_code_import,'0','No','',0.0,
							@p_uom_code_import,@p_net_quantity_import,@p_final_quantity_import,'','0', @p_record_index,'Invalid input: Approved quantity is not numeric.'
						 end
					 end
					 else
					 begin
						  insert #partsorder_import_data (parts_order_no,item_code,item_variant_code,item_serialized_ind,item_serialized_desc,item_serial_no,
						  purchase_rate,uom_code,claim_qty,order_qty,serial_no,valid_ind,record_index,err_message)
						  select @p_parts_order_ref_no,@p_item_code_import, @p_item_variant_code_import,'0','No','',0.0,
						  @p_uom_code_import,'1','1','','0', @p_record_index,'Invalid input: Item code is inactive.'
					 end
				end
				else
				begin
					insert #partsorder_import_data (parts_order_no,item_code,item_variant_code,item_serialized_ind,item_serialized_desc,item_serial_no,
					purchase_rate,uom_code,claim_qty,order_qty,serial_no,valid_ind,record_index,err_message)
					select @p_parts_order_ref_no,@p_item_code_import, @p_item_variant_code_import,'0','No','',0.0,
					@p_uom_code_import,@p_net_quantity_import,@p_final_quantity_import,'','0', @p_record_index,'Invalid input: Item code not found'
				end 

			fetch next from parts_order_import_cursor
					into @p_item_code_import, @p_item_variant_code_import, @p_net_quantity_import, 
				@p_uom_code_import,@p_final_quantity_import,@p_invoice_quantity_import, @p_record_index
	
			end	
			commit transaction parts_order_transaction_import
			close parts_order_import_cursor
			deallocate parts_order_import_cursor 
	  end
	else if @p_eventverb_id = 'PORDDESPUPDATE'
	begin
		declare parts_order_import_cursor cursor
			for
			SELECT nodes.value('(ic)[1]', 'nvarchar(30)'),
				nodes.value('(ivc)[1]', 'nvarchar(30)'),
				nodes.value('(uc)[1]','nvarchar(10)'),
				nodes.value('(it)[1]','nvarchar(30)'),
				nodes.value('(isn)[1]','nvarchar(max)'),
				nodes.value('(record_index)[1]', 'nvarchar(5)')
			FROM @p_inputparam_xml.nodes('/inputparam/search_field_xml/*') AS Tbl(nodes)
	
			open parts_order_import_cursor
	
			fetch next from parts_order_import_cursor
			into @p_item_code_import, @p_item_variant_code_import,@p_uom_code_import,@p_inventory_type_import,@p_item_serial_no_import, @p_record_index
	
			begin transaction parts_order_transaction_import
	
			while @@FETCH_STATUS = 0
			begin
	
				if exists(select 1 
						  from parts_order_detail a
						  where a.company_id = @i_client_id
							and a.country_code = @i_country_code
							and a.parts_order_no = @p_parts_order_ref_no
							and a.item_code = @p_item_code_import
							and a.item_variant_code = @p_item_variant_code_import
							and a.uom_code = @p_uom_code_import)
				begin
					  if exists (select 1
						 from item_master a
						 where a.company_id	= @i_client_id
						 and   a.country_code = @i_country_code
						 and   a.item_code	= @p_item_code_import
						 and   a.item_variant_code = @p_item_variant_code_import
						 and   a.item_active_ind = 1)
					  begin
						   if @p_inventory_type_import = 'LOAN' or @p_inventory_type_import = 'REFB'
						   begin
								if exists (select 1
									from item_master a
									where a.company_id	= @i_client_id
									and   a.country_code = @i_country_code
									and   a.item_code	= @p_item_code_import
									and   a.item_variant_code = @p_item_variant_code_import
									and   a.item_active_ind = 1
									and   a.item_serialized_ind = 1)
								begin
									if @p_item_serial_no_import != ''
									begin
										insert #partsorder_import_data (parts_order_no,item_code,item_variant_code,item_serialized_ind,item_serialized_desc,item_serial_no,
										purchase_rate,uom_code,claim_qty,order_qty,serial_no,inventory_category,inventory_type,valid_ind,record_index,err_message)
										select @p_parts_order_ref_no,@p_item_code_import, @p_item_variant_code_import,a.item_serialized_ind,
										case a.item_serialized_ind when 1 then 'Yes' else 'No' end,'',b.purchase_rate,
										@p_uom_code_import,'1','1',@p_item_serial_no_import,'LOAN',@p_inventory_type_import,'1', @p_record_index,'Success'
										from item_master a,item_rate b
										where a.company_id				= @i_client_id
										and   a.country_code			= @i_country_code
										and   a.company_id				= b.company_id
										and   a.country_code			= b.country_code
										and   a.item_code				= b.item_code
										and   a.item_variant_code		= b.item_variant_code
										and   a.item_code				= @p_item_code_import
										and   a.item_variant_code		= @p_item_variant_code_import
										and   b.uom_code				= @p_uom_code_import
										and   a.item_active_ind = 1
									end
									else
									begin
										insert #partsorder_import_data (parts_order_no,item_code,item_variant_code,item_serialized_ind,item_serialized_desc,item_serial_no,
										purchase_rate,uom_code,claim_qty,order_qty,serial_no,valid_ind,record_index,err_message)
										select @p_parts_order_ref_no,@p_item_code_import, @p_item_variant_code_import,'0','No','',0.0,
										@p_uom_code_import,'1','1','','0', @p_record_index,'Invalid input: Serialized items require a serial number.'
									end
								end
								else
								begin
									insert #partsorder_import_data (parts_order_no,item_code,item_variant_code,item_serialized_ind,item_serialized_desc,item_serial_no,
									purchase_rate,uom_code,claim_qty,order_qty,serial_no,inventory_category,inventory_type,valid_ind,record_index,err_message)
									select @p_parts_order_ref_no,@p_item_code_import, @p_item_variant_code_import,a.item_serialized_ind,
									case a.item_serialized_ind when 1 then 'Yes' else 'No' end,'',b.purchase_rate,
									@p_uom_code_import,1,1,'','LOAN',@p_inventory_type_import,'1', @p_record_index,'Success'
									from item_master a,item_rate b
									where a.company_id				= @i_client_id
									and   a.country_code			= @i_country_code
									and   a.company_id				= b.company_id
									and   a.country_code			= b.country_code
									and   a.item_code				= b.item_code
									and   a.item_variant_code		= b.item_variant_code
									and   a.item_code				= @p_item_code_import
									and   a.item_variant_code		= @p_item_variant_code_import
									and   b.uom_code				= @p_uom_code_import
									and   a.item_active_ind = 1
								end
						   end
						   else
						   begin
								insert #partsorder_import_data (parts_order_no,item_code,item_variant_code,item_serialized_ind,item_serialized_desc,item_serial_no,
								purchase_rate,uom_code,claim_qty,order_qty,serial_no,valid_ind,record_index,err_message)
								select @p_parts_order_ref_no,@p_item_code_import, @p_item_variant_code_import,'0','No','',0.0,
								@p_uom_code_import,'1','1','','0', @p_record_index,'Invalid input: Material type code is incorrect.'
						   end
					  end
					  else
					  begin
						  insert #partsorder_import_data (parts_order_no,item_code,item_variant_code,item_serialized_ind,item_serialized_desc,item_serial_no,
						  purchase_rate,uom_code,claim_qty,order_qty,serial_no,valid_ind,record_index,err_message)
						  select @p_parts_order_ref_no,@p_item_code_import, @p_item_variant_code_import,'0','No','',0.0,
						  @p_uom_code_import,'1','1','','0', @p_record_index,'Invalid input: Item code is inactive.'
					  end
				end
				else
				begin
					insert #partsorder_import_data (parts_order_no,item_code,item_variant_code,item_serialized_ind,item_serialized_desc,item_serial_no,
					purchase_rate,uom_code,claim_qty,order_qty,serial_no,valid_ind,record_index,err_message)
					select @p_parts_order_ref_no,@p_item_code_import, @p_item_variant_code_import,'0','No','',0.0,
					@p_uom_code_import,'1','1','','0', @p_record_index,'Invalid input: Item code not found'
				end 

			fetch next from parts_order_import_cursor
					into @p_item_code_import, @p_item_variant_code_import,@p_uom_code_import,@p_inventory_type_import,@p_item_serial_no_import, @p_record_index
	
			end	
			commit transaction parts_order_transaction_import
			close parts_order_import_cursor
			deallocate parts_order_import_cursor 
	  end

	select '' as custom_info_list, /* dummy column aliased by result set name */
		  '{' +

			'"parts_order_no":"'+ isnull(parts_order_no,'') +'",'+
			'"item_code":"'+ isnull(item_code,'') +'",'+
			'"item_variant_code":"'+ isnull(item_variant_code,'') +'",'+
			'"uom_code":"'+ isnull(uom_code,'') +'",'+
			'"item_serialized_ind":"'+ isnull(cast(item_serialized_ind as varchar(1)),'0') +'",'+
			'"purchase_rate":"'+ cast(ISNULL(purchase_rate,0) as varchar(19)) +'",'+
			'"claim_qty":"'+ cast(ISNULL(cast(claim_qty as numeric(14,0)),0) as varchar(12)) +'",'+
			'"order_qty":"'+ cast(ISNULL(cast(order_qty as numeric(14,0)),0) as varchar(12)) +'",'+
			'"invoice_qty":"'+ cast(ISNULL(cast(invoice_qty as numeric(14,0)),0) as varchar(12)) +'",'+
			'"valid_ind":"'+ isnull(cast(valid_ind as varchar(2)),'0') +'",'+
			'"item_serialized_ind":"'+ isnull(cast(item_serialized_ind as varchar(2)),'0')  +'",'+
			'"item_serialized_desc":"'+ isnull(cast(item_serialized_desc as varchar(10)),'No')  +'",'+
			'"inventory_category":"'+ isnull(inventory_category,'') +'",'+
			'"inventory_category_description":"'+ isnull(dbo.code_description(@i_client_id,@i_country_code,@i_locale_id,'INVENTORYCATEGORY',isnull(inventory_category,'')),'') +'",'+
			'"inventory_type":"'+ isnull(inventory_type,'') +'",'+
			'"inventory_type_description":"'+ isnull(dbo.code_description(@i_client_id,@i_country_code,@i_locale_id,'INVENTORYTYPE',isnull(inventory_type,'')),'')  +'",'+
			'"serial_no":"'+ isnull(serial_no,'') +'",'+
			'"record_index":"'+ isnull(record_index,'') +'",'+
			'"err_message":"'+ isnull(err_message,'') +'"'+
		'}'
	 as  o_custom_info_json /* unicode string */
	from #partsorder_import_data
	
	select @o_retrieve_status = 'SP001'

    SET NOCOUNT OFF;
END