<script id="my_activities_open_list_template" data-ms-mswidget-for="my_activities_open_list"
	data-ms-mswidget-template-type="listview" type="text/x-kendo-tmpl">
	<div class="ms_chat_list_card" id="#: data.request_ref_no #_container" data-id = "#: uid #" onclick="mService.pattern.query.button.chat(this)" data-ms-containr-param='{"uid":"#:uid#", "subkey":"#:chat_ref_no#","request_ref_no":"#:data.request_ref_no#","problem_description":"#:data.problem_description#"}'  style="cursor: pointer;border-radius: 10px !important;margin: 0.9em 0.6em;position: relative;">
		<div>
		<div style="background-color:\#ffffff85; border-radius:10px;">
			<div style="display: flex;justify-content: center;">
				<div style="position: absolute; top:0;width: 0.5em;height: 100%;background-color: #: (request_status === "WC" ? "\#c1bebe" :
				request_status === "CL" ? "\#4dbd78e6" :
				request_status === "AE" ? "\#e1be17e8" :
				request_status === "CO" ? "\#4dbd78e6" :
				request_status === "CC" ? "\#8daee5" :
				request_status === "VS" ? "\#f3b035eb" :
				"\#00a7ac") #;border-top-left-radius: 10px;border-bottom-left-radius: 10px;left:0;"></div>
					<div  style="background-color: #: (request_status === "WC" ? "\#dddddd" :
					request_status === "CL" ? "\#4dbd78e6" :
					request_status === "AE" ? "\#e1be17e8" :
					request_status === "CO" ? "\#4dbd78e6" :
					request_status === "CC" ? "\#8daee5" :
					request_status === "VS" ? "\#f3b035eb" :
					"\#00a7ac") #;padding: 0.7em; font-weight: 600;box-shadow: inset 0px 4px 4px rgb(0 0 0 / 25%);border-radius: 0px 0px 10px 10px;letter-spacing: 1px;width: 80%;display: flex;justify-content: center; word-break: break-all;">
					<span style="font-size: 17.8px;">#: request_status_desc #</span>
				</div>
				<div style="right: 0;top: 0;position: absolute;margin-top: 0.4em;margin-right: 0.4em;">
					<div id="#: request_ref_no #_notification_ind" class="ms_chat_list_card_notification_icon" style="width: 1.5em;height: 1.5em;border-radius: 50%;justify-content: center;align-items: center;display: flex;font-size: 19px;box-shadow: inset 0px 4px 4px rgb(0 0 0 / 25%);display:none;">
						<div style="width: 100%;height: 100%;display: flex;justify-content: center;align-items: center;position: relative;">
							<div id="#: request_ref_no #_notification_count" class="ms_chat_list_card_notification_count"  style="    font-size: 11px;position: absolute;left: -10%;top: 0px;width: 15px;height: 15px;border-radius: 50%;display: flex;justify-content: center;align-items: center;padding: 0.6em;font-weight: 500;box-shadow: inset 0px 4px 4px rgb(0 0 0 / 25%);"></div>
							<div><i class="fas fa-bell"></i></div>
						</div>
					</div>
				</div>
			</div>
			<div class="ms_chat_list_card_req_no_container"style="display: flex;gap: 1em;align-items: center;justify-content:center;">
				<div style="padding: 0.6em;">
					<span><b style="font-size: 17px;font-weight: 600;letter-spacing: 2px"class="ms_chat_list_card_req_no"> #: request_ref_no #</b></span>
				</div>
			</div>
			<div style="padding:1em;">
				# if(mService.app.getUserId().toLowerCase() === assigned_to_user_id.toLowerCase()){#
					<div style="padding-top: 0.7em;display: flex;align-items:center;gap:.6em;">
						<div style=" font-size:1.3em;">
							<span class="ms_chat_list_card_content_icon"><i class="fa-regular fa-user-check"></i></span>
						</div>
						<div>
							<span class="ms_chat_list_card_content_lbl" style="font-size: 16px;font-weight: 500;">Created By:</span>
						</div>
						<div  >
							<span class="ms_chat_list_card_content_lbl"> #: created_by_emp_name #</span>
						</div>
					</div>
				#}else {#
					<div style="padding-top: 0.7em;display: flex;align-items:center;gap:.6em;">
						<div style=" font-size:1.3em;">
							<span class="ms_chat_list_card_content_icon"><i class="fa-regular fa-user-helmet-safety"></i></span>
						</div>
						<div>
							<span class="ms_chat_list_card_content_lbl" style="font-size: 16px;font-weight: 500;" >Assigned To:</span> 
						</div>
						<div>
							<span class="ms_chat_list_card_content_lbl"> #: assigned_to_emp_name #</span>
						</div>
					</div>
				#} #
				<div style="padding-top: 0.7em;display: flex;flex:100;align-items:center;gap:.6em; ">
					<div style=" font-size:1.3em;">
						<span class="ms_chat_list_card_content_icon"><i class="fa-regular fa-calendar-check"></i></span>
					</div>
					<div>
						<span class="ms_chat_list_card_content_lbl" style="font-size: 16px;font-weight: 500;">Created On:</span>
					</div> 
					<div>
						<span class="ms_chat_list_card_content_lbl">#:kendo.toString(kendo.parseDate(created_on_date), 'dd-MMM-yyyy')#</span>
					</div>
				</div>
			</div>
			</div>
		</div>
	</div>
</script>
<script id="my_activities_open_chat_header_template" data-ms-mswidget-for="my_activities_open_chat_content"
	data-ms-mswidget-template-type="chat_header" type="text/x-kendo-tmpl">
	<div style="padding: 0.5em 0;display: flex;justify-content: center;">
		<span>
			<p class="ms_chat_info_header_label" style="text-align:center;font-size: 1em;padding-left: 1em;font-weight: 800;">#: customer_id # - </p>
		</span>
		<span>
			<p class="ms_chat_info_header_label" style="text-align:center;font-size: 1em;font-weight: 800;"> #: customer_name # </p>
		</span>
	</div>
	<div style="display: flex;align-items:center;padding:0.1em 0;">
		<div style="flex: 50;display: flex;align-items:center;padding-left: 0.5em;"> 
			<span style="flex: 10;">
				<div style="font-size:1.2em;display: flex;justify-content: center;">
					<i class="fa-solid fa-ticket ms_chat_info_header_icon"></i>
				</div>
			</span>
			<span style="flex: 70;margin-right: 0.8em;">
				<p class="ms_chat_info_header_label" style="font-size: 1em;padding-left: 1em;font-weight: 600;">#: request_ref_no # </p>
			</span>
		</div>
		<div style="flex: 50;display: flex;align-items:center;padding:0.1em 0;">
			<span style="flex: 10;">
				<div style="font-size:1.2em;display: flex;justify-content: center;">
					<i class="fa-solid fa-calendar-clock ms_chat_info_header_icon"></i>
				</div>
			</span>
			<span style="flex: 90;">
				<p class="ms_chat_info_header_label" style="font-size: 1em;padding-left: 1em;">#:kendo.toString(kendo.parseDate(created_on_date), 'dd MMM yyyy')# #:created_on_hour# : #:created_on_minute#</p>
			</span>
		</div>
	</div>
	<div style="display: flex;align-items:center;padding:0.1em 0;">
		<div style="flex: 50;display: flex;align-items:center;padding-left: 0.5em;"> 
			<span style="flex: 10;">
				<div style="font-size:1.2em;display: flex;justify-content: center;">
					<i class="fa-solid fa-user ms_chat_info_header_icon"></i>
				</div>
			</span>
			<span style="flex: 70;margin-right: 0.8em;">
				<p class="ms_chat_info_header_label" style="font-size: 1em;padding-left: 1em;font-weight: 400;">#: cust_contact_name # </p>
			</span>
		</div>
		<div style="flex: 50;display: flex;align-items:center;padding:0.1em 0;">
			<span style="flex: 10;">
				<div style="font-size:1.2em;display: flex;justify-content: center;">
					<span data-ms-contact_number="#: cust_contact_no #" style="display: grid;place-items: center;border-radius: 50%;">
						<i class="fas fa-phone ms_chat_info_header_icon" style="font-size: 1em;"></i>
					</span>
				</div>
			</span>
			<span style="flex: 90;">
				<p class="ms_chat_info_header_label" data-ms-contact_number="#: cust_contact_no #" style="font-size: 1em;padding-left: 1em;font-weight: 400;">#: cust_contact_no #</p>
			</span>
		</div>
	</div>
	<div style="display: flex;align-items:center;padding:0.1em 0;">
		<div style="flex: 50;display: flex;align-items:center;padding-left: 0.5em;"> 
			<span style="flex: 10;">
				<div style="font-size:1.2em;display: flex;justify-content: center;">
					<i class="fa-solid fa-user-helmet-safety ms_chat_info_header_icon"></i>
				</div>
			</span>
			<span style="flex: 70;margin-right: 0.8em;">
				<p class="ms_chat_info_header_label" style="font-size: 1em;padding-left: 1em;font-weight: 400;">#: assigned_to_emp_name # </p>
			</span>
		</div>
		<div style="flex: 50;display: flex;align-items:center;padding:0.1em 0;">
			<span style="flex: 10;">
				<div style="font-size:1.2em;display: flex;justify-content: center;">
					<span data-ms-contact_number="#: assigned_to_emp_contact_no #"  style="display: grid;place-items: center;border-radius: 50%;">
						<i class="fas fa-phone ms_chat_info_header_icon" style="font-size: 1em;"></i>
					</span>
				</div>
			</span>
			<span style="flex: 90;">
				<p class="ms_chat_info_header_label" data-ms-contact_number="#: assigned_to_emp_contact_no #" style="font-size: 1em;padding-left: 1em;font-weight: 400;">#: assigned_to_emp_contact_no # </p>
			</span>
			</span>
		</div>
	</div>
</script>
<script id="msChatTimelineTemplate" data-ms-mswidget-for="my_activities_open_chat_content"
	data-ms-mswidget-template-type="timeline" type="text/x-kendo-template">
	<div style="width: 100%;display:flex;flex-direction:row;">
		<span style="flex: 35;display: flex;align-items: center;"><div class="ms_chat_timline_border" style="width: 100%;border-radius: 50px;"></div></span>
		#
			let dateToShow = mService.util.date.getRelativeDate(info.date, "dd MMM yyyy");
		#
		<div  class="ms_chat_timline_box"style="flex: 30;display: flex;justify-content: center;font-size: 0.9em;font-style: italic;border-radius: 10px;font-weight: 400;padding: 0.2em;">#:dateToShow#</div>
		<span style="flex: 35;display: flex;align-items: center;"><div class="ms_chat_timline_border"  style="width: 100%;border-radius: 50px;"></div></span>
	</div>
</script>
<script data-ms-mswidget-for="my_activities_open_chat_content" data-ms-mswidget-template-type="text"
	type="text/x-kendo-template">
	#let localPathRoot = (mService.app.channel === "web")?("www"):("..");
	let sender = ((from.id.toLowerCase() === mService.app.getUserId().toLowerCase()) && (from.sysMsg !== "true"))?(true):(false);
		let iscontentTranslated = (translations !== undefined && data.translations !== "" && data.translations !== null)?(true):(false);
		let translation = (translations !== undefined && data.translations !== "" && data.translations !== null)?(translations[mService.app.getLocaleId().substring(0, 2)]):("");
		let msgContent = ((content.indexOf("\n") !== -1 || content.indexOf("<br>") !== -1))?(content.replace(/<br>/g, "\n")):(content);
		# 
		# if (sender) { #
			<div style="display: flex; justify-content: flex-end; margin: 1em 0 1em 1em;">
				<div data-ms-chat-bubble-container="true" style="max-width: 75%; border: 1px solid;border-radius: 25px 25px 0px 25px;padding: .7em; order:1;" class="ms_chat_bubble_#:theme#">
		# } else { #
			<div style="display: flex;margin: 1em 0 1em 1em;">
				<div data-ms-chat-bubble-container="true" style="max-width: 75% ; border: 1px solid;border-radius: 0px 25px 25px 25px;padding: .7em; order:2;"  class="ms_chat_bubble_#:theme#">
		# } #
			<div style="display: flex; justify-content: space-between; margin-bottom: .5em; border-bottom: 1px solid rgba(237, 237, 237, 0.96);align-items: flex-end;order:1;">			
			# if (sender) { #			
				<strong style="margin-right: 1em;" class="ms_chat_bubble_header_#:theme#" class="ms_chat_bubble_header_#:theme#">You</strong>
			# } else { #
				<strong style="margin-right: 1em;" class="ms_chat_bubble_header_#:theme#">#: (from.sysMsg
					==="true")?(mService.app.name):(from.name)#</strong>
			# } #
				<em style="font-size: 10px;" class="ms_chat_bubble_header_time_#:theme#">#: mService.util.date.getDateTimeString(mService.util.date.getParseDate(info.date,info.hour,info.min,info.sec),'dd MMM HH:mm') #</em>
			</div>
			<span data-ms-msg-info-id="#:info.id#"></span>
			# if (iscontentTranslated && translation !== undefined) { #
				<p style="padding-left: .7em; line-height: 1.8;">
					#: translation #
				</p>
					# if (translation.trim().toLowerCase() !== content.trim().toLowerCase()) { #
					<details style="padding-left: .7em;padding-top: .5em;cursor: pointer;">
						<summary style="font-style: italic;" class="ms_chat_bubble_translation_header_#:theme#">Original</summary>
						<p style="padding-left: 1.3em;padding-top: 0.7em; font-style: italic; line-height: 1.3" class="ms_chat_bubble_translation_content_#:theme#">#: content #</p>
					</details>
				# } #
			# } else { #
				<p style="padding-left: .7em; line-height: 1.8">
					#: msgContent #
				</p>
			# } #
		</div>
		# if (sender) { #
			<div style="display: flex;align-self: flex-end; order:2;">
				<div style="display: flex;  justify-content: center;  align-items: center;  max-width: 4em;  max-height: 4em;margin-right: .4em; margin-left: .4em;border-radius: 50%;overflow: hidden;padding: 2em;" class="ms_chat_profile_#:theme#">
		# } else { #
			<div style="display: flex;margin: 0em 0em 1em 1em;order:1;">
				<div style="display: flex;  justify-content: center;  align-items: center;  max-width: 4em;max-height: 4em;margin-right: .4em;border-radius: 50%;overflow: hidden;padding: 2em;" class="ms_chat_profile_#:theme#">
		# } #
		# if (from.sysMsg === "true") { #
			<img src="#:localPathRoot#/ux/image/#: mService.app.getClientId() #/#: mService.app.getCountryCode() #/app_header_icon.png" alt="#: mService.app.name #" data-ms-widget-type="msWidget" data-ms-widget-group="msChat" data-ms-widget-role="viewAttachment" data-ms-chat-scrid="#: scrID#" data-ms-listview-param='{"attachType":"I", "attachSrc":"#:localPathRoot#/ux/image/#: mService.app.getClientId() #/#: mService.app.getCountryCode() #/app_header_icon.png"}' style="width: 4em;height: 4em;object-fit: contain;cursor: pointer;" />
		# } else { #
			<span style="color: \#fff;font-size: 20px;">#:from.initial#</span>
		# } #
	</div>
</div>
</script>
<script id="msChatSuggestionTemplate" data-ms-mswidget-for="my_activities_open_chat_content"
	data-ms-mswidget-template-type="suggestion" type="text/x-kendo-template">
	# 	
		let localPathRoot = (mService.app.channel === "web")?("www"):("..");
		let sender = ((from.id.toLowerCase() === mService.app.getUserId().toLowerCase()) && (from.sysMsg !== "true"))?(true):(false);
		let iscontentTranslated = (translations !== undefined && data.translations !== "" && data.translations !== null)?(true):(false);
		let translation = (translations !== undefined && data.translations !== "" && data.translations !== null)?(translations[mService.app.getLocaleId().substring(0, 2)]):("");
		let msgContent = ((content.indexOf("\n") !== -1 || content.indexOf("<br>") !== -1))?(content.replace(/<br>/g, "\n")):(content);
	# 
	# if (sender) { #
		<div style="display: flex; justify-content: flex-end; margin: 1em 0 1em 1em;">
			<div data-ms-chat-bubble-container="true" style="max-width: 75%; border: 1px solid;border-radius: 25px 25px 0px 25px;padding: .7em; order:1;" class="ms_chat_bubble_#:theme#">
	# } else { #
		<div style="display: flex;margin: 1em 0 1em 1em;">
			<div data-ms-chat-bubble-container="true" style="max-width: 75% ; border: 1px solid;border-radius: 0px 25px 25px 25px;padding: .7em;order:2;"  class="ms_chat_bubble_#:theme#">
	# } #
	<div style="display: flex; justify-content: space-between; margin-bottom: .5em; border-bottom: 1px solid rgba(237, 237, 237, 0.96);align-items: flex-end;order:1;">			
		# if (sender) { #			
			<strong style="margin-right: 1em;" class="ms_chat_bubble_header_#:theme#" class="ms_chat_bubble_header_#:theme#">You</strong>
		# } else { #
			<strong style="margin-right: 1em;" class="ms_chat_bubble_header_#:theme#">#: (from.sysMsg
				==="true")?(mService.app.name):(from.name)#</strong>
		# } #
		<em style="font-size: 10px;" class="ms_chat_bubble_header_time_#:theme#">#: mService.util.date.getDateTimeString(mService.util.date.getParseDate(info.date,info.hour,info.min,info.sec),'dd MMM HH:mm') #</em>
	</div>
	<span data-ms-msg-info-id="#:info.id#"></span>
	# if (iscontentTranslated && translation!== undefined && translation!== "") { #
		<p style="padding-left: .7em; line-height: 1.8">
			#: translation #
		</p>
			# if (translation.trim().toLowerCase() !== content.trim().toLowerCase()) { #
			<details style="padding-left: .7em;padding-top: .5em;cursor: pointer;">
				<summary style="font-style: italic;" class="ms_chat_bubble_translation_header_#:theme#">Original</summary>
				<p style="padding-left: 1.3em;padding-top: 0.7em; font-style: italic; line-height: 1.3" class="ms_chat_bubble_translation_content_#:theme#">#: content #</p>
			</details>
		# } #
	# } else { #
		<p style="padding-left: .7em; line-height: 1.8">
			#if(msgContent === "1"){#
				<i style="color:\#f00;font-size:3em;" class="fa-solid fa-face-weary"></i>
			#}else if (msgContent === "2"){#
				<i style="color:\#ff7c00;font-size:3em;" class="fa-solid fa-frown"></i>
			#}else if (msgContent === "3"){#
				<i style="color:\#f5b900;font-size:3em;" class="fa-solid fa-smile"></i>
			#}else if (msgContent === "4"){#
				<i style="color:\#18C55D ;font-size:3em;" class="fa-solid fa-laugh"></i>
			#}else if (msgContent === "5"){#
				<i style="color:\#129B42;font-size:3em;" class="fa-solid fa-grin-hearts"></i>
			#}else{#
				#: msgContent # 
			#}#
		</p>
	# } #
	<div class="k-quick-replies" style="margin-left: 2em;margin-top: 5px;">
		# for (var i = 0; i < suggestions.length; i++){#
			#if(suggestions[i].value === "@1" || suggestions[i].value === "@2" || suggestions[i].value === "@3" || suggestions[i].value === "@4" || suggestions[i].value === "@5"){#
				<span data-ms-widget-type="msWidget" data-ms-widget-group="msChat" data-ms-widget-role="suggestion" data-ms-for="#: id #" class=" ms_chat_bubble_suggestion_#:theme#" data-ms-value="#:suggestions[i].value#" data-ms-listview-param='{"title":"#:suggestions[i].title #", "value":"#: suggestions[i].value #"}' data-ms-custom="#:JSON.stringify(suggestions[i].custom)#" style="padding: 7px;cursor: pointer;-webkit-user-select: none;-ms-user-select: none;user-select: none;display: inline-block;-ms-flex: 0 0 auto;flex: 0 0 auto;transition-property: color, background-color, border-color;transition-duration: .2s;transition-timing-function: ease-in-out;cursor: pointer;outline: none;gap: 1em;">
					<div style="display: flex;justify-content:center;align-items:center;">
						#if(suggestions[i].suggestionGroup !== undefined && mService.icons[suggestions[i].suggestionGroup] !== undefined && mService.icons[suggestions[i].suggestionGroup][(suggestions[i].value).replace("@","")] !== undefined){#
							<span style="display: flex;">
								#if(suggestions[i].value === "@1"){#
									<i class="#:mService.icons[suggestions[i].suggestionGroup][(suggestions[i].value).replace("@","")]#" style="font-size: 2em;color:\#f00;"></i>
								#}else if (suggestions[i].value === "@2"){#
									<i class="#:mService.icons[suggestions[i].suggestionGroup][(suggestions[i].value).replace("@","")]#" style="font-size: 2em;color:\#ff7c00;"></i>
								#}else if (suggestions[i].value === "@3"){#
									<i class="#:mService.icons[suggestions[i].suggestionGroup][(suggestions[i].value).replace("@","")]#" style="font-size: 2em;color:\#f5b900;"></i>
								#}else if (suggestions[i].value === "@4"){#
									<i class="#:mService.icons[suggestions[i].suggestionGroup][(suggestions[i].value).replace("@","")]#" style="font-size: 2em;color:\#18C55D;"></i>
								#}else if (suggestions[i].value === "@5"){#
									<i class="#:mService.icons[suggestions[i].suggestionGroup][(suggestions[i].value).replace("@","")]#" style="font-size: 2em;color:\#129B42;"></i>
								#}else{#
									<i class="#:mService.icons[suggestions[i].suggestionGroup][(suggestions[i].value).replace("@","")]#" style="padding-right: 0.5em;font-size: 1.3em;"></i>
									<span style="display: flex;align-items: center;">#: suggestions[i].title#</span>
								#}#
								
							</span>
						#} else {#
							<span style="display: flex;align-items: center;">#: suggestions[i].title#</span>
						#}#
						
					</div>
				</span>
			#}else{#
				<span data-ms-widget-type="msWidget" data-ms-widget-group="msChat" data-ms-widget-role="suggestion" data-ms-for="#: id #" class=" ms_chat_bubble_suggestion_#:theme#" data-ms-value="#:suggestions[i].value#" data-ms-listview-param='{"title":"#:suggestions[i].title #", "value":"#: suggestions[i].value #"}' data-ms-custom="#:JSON.stringify(suggestions[i].custom)#" style="margin: 0.5em;border-radius: 100px; margin-right: 8px;margin-bottom: 4px;padding: 8px 12px;border-width: 1px;border-style: solid;line-height: 18px;cursor: pointer;-webkit-user-select: none;-ms-user-select: none;user-select: none;display: inline-block;-ms-flex: 0 0 auto;flex: 0 0 auto;transition-property: color, background-color, border-color;transition-duration: .2s;transition-timing-function: ease-in-out;cursor: pointer;outline: none;gap: 1em;border-radius: 30px;padding: 1em;">
					<div style="display: flex;justify-content:center;align-items:center;">
						#if(suggestions[i].suggestionGroup !== undefined && mService.icons[suggestions[i].suggestionGroup] !== undefined && mService.icons[suggestions[i].suggestionGroup][(suggestions[i].value).replace("@","")] !== undefined){#
							<span style="display: flex;">
								<i class="#:mService.icons[suggestions[i].suggestionGroup][(suggestions[i].value).replace("@","")]#" style="padding-right: 0.5em;font-size: 1.3em;"></i>
								<span style="display: flex;align-items: center;">#: suggestions[i].title#</span>
							</span>
						#} else {#
							<span style="display: flex;align-items: center;">#: suggestions[i].title#</span>
						#}#
						
					</div>
				</span>
			# } #
				<!-- <span data-ms-widget-type="msWidget" data-ms-widget-group="msChat" data-ms-widget-role="suggestion" data-ms-for="#: id #" class=" ms_chat_bubble_suggestion_#:theme#" data-ms-value="#:suggestions[i].value#" data-ms-listview-param='{"title":"#:suggestions[i].title #", "value":"#: suggestions[i].value #"}' data-ms-additionalInput="#:JSON.stringify(suggestions[i].additionalInput)#" style="margin: 0.5em;border-radius: 100px; margin-right: 8px;margin-bottom: 4px;padding: 8px 12px;border-width: 1px;border-style: solid;line-height: 18px;cursor: pointer;-webkit-user-select: none;-ms-user-select: none;user-select: none;display: inline-block;-ms-flex: 0 0 auto;flex: 0 0 auto;transition-property: color, background-color, border-color;transition-duration: .2s;transition-timing-function: ease-in-out;cursor: pointer;outline: none;gap: 1em;border-radius: 30px;padding: 1em;">
				<div style="display: flex;">
					#if(suggestions[i].suggestionGroup !== undefined && mService.icons[suggestions[i].suggestionGroup] !== undefined && mService.icons[suggestions[i].suggestionGroup][(suggestions[i].value).replace("@","")] !== undefined){#
						<span>
							<i class="#:mService.icons[suggestions[i].suggestionGroup][(suggestions[i].value).replace("@","")]#" style="padding-right: 0.5em;font-size: 1.3em;"></i>
						</span>
					#}#
					<span style="display: flex;align-items: center;">#: suggestions[i].title#</span>
				</div>
			</span> -->
		# } #
	</div>
</div>
	# if (sender) { #
		<div style="display: flex;align-self: flex-end; order:2;">
			<div style="display: flex;  justify-content: center;  align-items: center;  max-width: 4em;  max-height: 4em;margin-right: .4em; margin-left: .4em;border-radius: 50%;overflow: hidden;padding: 2em;" class="ms_chat_profile_#:theme#">
	# } else { #
		<div style="display: flex;margin: 0em 0 1em 1em;order:1;">
			<div style="display: flex;  justify-content: center;  align-items: center;  max-width: 4em;max-height: 4em;margin-right: .4em;border-radius: 50%;overflow: hidden;padding: 2em;" class="ms_chat_profile_#:theme#">
	# } #
			# if (from.sysMsg === "true") { #
				<img src="#:localPathRoot#/ux/image/#: mService.app.getClientId() #/#: mService.app.getCountryCode() #/app_header_icon.png" alt="#: mService.app.name #" data-ms-widget-type="msWidget" data-ms-widget-group="msChat" data-ms-widget-role="viewAttachment" data-ms-chat-scrid="#: scrID#" data-ms-listview-param='{"attachType":"I", "attachSrc":"#:localPathRoot#/ux/image/#: mService.app.getClientId() #/#: mService.app.getCountryCode() #/app_header_icon.png"}' style="width: 4em;height: 4em;object-fit: contain;cursor: pointer;" />
			# } else { #
				<span style="color: \#fff;font-size: 20px;">#:from.initial#</span>
			# } #
	</div>
</div>
</script>
<script id="msChatAttachmentTemplate" data-ms-mswidget-for="my_activities_open_chat_content"
	data-ms-mswidget-template-type="attachment" type="text/x-kendo-template">
	# 	let localPathRoot = (mService.app.channel === "web")?("www"):("..");
		let sender = ((from.id.toLowerCase() === mService.app.getUserId().toLowerCase()) && (from.sysMsg !== "true"))?(true):(false);
		let iscontentTranslated = (data.translations !== undefined && data.translations !== "" && data.translations !== null)?(true):(false);
		let translation = (data.translations !== undefined && data.translations !== "" && data.translations !== null)?(data.translations[mService.app.getLocaleId().substring(0, 2)]):("");
		let msgContent = ((content.replace("&nbsp;","").trim().indexOf("\n") !== -1 || content.replace("&nbsp;","").trim().indexOf("<br>") !== -1))?(content.replace("&nbsp;","").trim().replace(/<br>/g, "\n")):(content.replace("&nbsp;","").trim());
	#  
	# if (sender) { #
		<div style="display: flex; justify-content: flex-end;   margin: 1em 0;align-items: center;">
			<div data-ms-chat-bubble-container="true" style="width: 75%;border: 1px solid;border-radius: 25px 25px 0px 25px;padding: .7em;line-height: 1.2; order:1;margin-right: 0.3em;"  class="ms_chat_bubble_#:theme#">
	# } else { #
		<div style="display: flex;margin: 1em 0 1em 1em;">
			<div data-ms-chat-bubble-container="true" style="width: 75%;  border: 1px solid;border-radius: 0px 25px 25px 25px;padding: .7em;line-height: 1.2; order:2;"  class="ms_chat_bubble_#:theme#">
	# } #
	<div style="display: flex; justify-content: space-between; margin-bottom: .5em; border-bottom: 1px solid;align-items: flex-end;order:1;"  class="ms_chat_bubble_header_info_#:theme#">			
		# if (sender) { #
			<strong style="margin-right: 1em;" class="ms_chat_bubble_header_#:theme#">You</strong>
		# } else { #
			<strong style="margin-right: 1em;" class="ms_chat_bubble_header_#:theme#">#: (from.sysMsg
				==="true")?(mService.app.name):(from.name)#</strong>
		# } #
		<em style="font-size: 10px;" class="ms_chat_bubble_header_time_#:theme#">#: mService.util.date.getDateTimeString(mService.util.date.getParseDate(info.date,info.hour,info.min,info.sec),'dd MMM HH:mm') #</em>
	</div>
	<span data-ms-msg-info-id="#:info.id#"></span>
	<div>
		<div style="display: flex;justify-content: space-between;align-items: flex-end;">  
			<div>
				# if (iscontentTranslated && translation!== undefined) { #
					<p style="padding-left: .7em; line-height: 1.8">
						#: translation #
					</p>
						# if (translation !== content.replace("&nbsp;","").trim()) { #
						<details style="padding-left: .7em;padding-top: .5em;cursor: pointer;">
							<summary style="font-style: italic;"  class="ms_chat_bubble_translation_header_#:theme#">Original</summary>
							<p style="padding-left: 1.3em;padding-top: 0.7em; font-style: italic; line-height: 1.3" class="ms_chat_bubble_translation_content_#:theme#">#: content.replace("&nbsp;","").trim() #</p>
						</details>
					# } #
				# } else { #
					<p style="padding-left: .7em; line-height: 1.8">#: msgContent #</p>
				# } #
		</div>
		# if (attachments.length>1) { #
			<div id="#:info.id#_count" class="ms_chat_attachment_count_#:theme#" style="justify-content: center;border-radius: 10px;width: 2em;height: 2em;font-size: 14px;display: flex;justify-content: center;padding: 1.2em;align-items: center;">1/#:attachments.length#</div>   
		# } #
	</div>

	<div style="display:flex;align-items: center;justify-content: center;">
		# if (attachments.length>1) { #
					<div id="#:info.id#_leftNav" data-ms-chat-theme="#:theme#" data-ms-widget-type="msWidget" data-ms-widget-group="msChat" data-ms-widget-role="leftNav" data-ms-for="#: id #" data-ms-info-id="#: info.id #" data-ms-attachment-totalCount="#: attachments.length #" style="opacity: 0.5;flex: 10;font-size: 1.5em;border-radius: 50%;display: flex;align-items: center; solid;height: 1.5em;width: 1.5em;justify-content: center;cursor:pointer;">
					<span style="display: flex; justify-content: center;cursor: pointer;"><i class="fas fa-angle-left ms_chat_attachment_pager_icon_#:theme#"></i></span>
				</div>
			# } #
			<div id="#: id #_attachment_container" style="flex: 90;display: flex; max-width:75%;justify-content: center;overflow: hidden;" >
				# for (var i = 0; i < attachments.length; i++){#
					# if (i===0) { #
						<div id="#:info.id#_#:i+1#" ms-data-chat-attachtment-count="#:i+1#"  style="width:100%;display: flex;justify-content: center;margin-top: .5em;" data-ms-widget-type="msWidget" data-ms-widget-group="msChat" data-ms-widget-role="viewAttachment" data-ms-for="#: id #" data-ms-chat-scrid="#: scrID#" data-ms-listview-param='{"attachType":"#: attachments[i].type #", "attachSrc":"#: mService.app.clientURL + "/" + "content_store" + "/" + mService.app.getClientId() + "/" + mService.app.getCountryCode() + "/" + attachments[i].src #"}'">
					# } else { #
						<div id="#:info.id#_#:i+1#" ms-data-chat-attachtment-count="#:i+1#" style="width:100%;justify-content: center;margin-top: .5em;display:none;" data-ms-widget-type="msWidget" data-ms-widget-group="msChat" data-ms-widget-role="viewAttachment" data-ms-for="#: id #" data-ms-chat-scrid="#: scrID#" data-ms-listview-param='{"attachType":"#: attachments[i].type #", "attachSrc":"#: mService.app.clientURL + "/" + "content_store" + "/" + mService.app.getClientId() + "/" + mService.app.getCountryCode() + "/" + attachments[i].src #"}'">
					# } #
					# if (attachments[i].type === "I") { #
						<img src="#: mService.app.clientURL + "/" + "content_store" + "/" + mService.app.getClientId() + "/" +mService.app.getCountryCode() + "/" + attachments[i].src #"  style=" max-width:75%;height: 120px;display: block;margin-left: auto;margin-right: auto;"/>
					# } else { #
						# if (attachments[i].type == "A" || attachments[i].type == "V") { #
							
								# if (attachments[i].type == "A") { #
								<audio src="#: mService.app.clientURL + "/" + "content_store" + "/" + mService.app.getClientId() + "/" + mService.app.getCountryCode() + "/" + attachments[i].src #" preload="metadata" controls="" controlslist="nodownload noremoteplayback noplaybackrate" onplay="mService.widgets.init.util.pausePlayer(this);" data-ms-status="not_playing"></audio>
								# } else if (attachments[i].type == "V") { #
									<video  src="#: mService.app.clientURL + "/"+ "content_store" + "/" + mService.app.getClientId() + "/" + mService.app.getCountryCode() + "/" +attachments[i].src #"  preload="none" webboost_found_paused="true" webboost_processed="true" webboost_videoid="0" webboost_userplayed="true" disablepictureinpicture="" controlslist="nodownload noremoteplayback noplaybackrate" poster="#:localPathRoot#/ux/image/chat_poster.png" style="max-width: 75%; box-shadow: rgb(0 0 0 / 24%) 0px 3px 8px;" onplay="mService.widgets.init.util.pausePlayer(this);" data-ms-status="not_playing"></video>
								# } #
							
						# } else { #
							<div style=" width: 100%; height: 6em; display: grid; place-items: center">
								<span class="ms_chat_attachment_#:theme#"  style="height: 4em;width: 4em;display: grid;place-items: center;border-radius: 50%;margin: 0.5em;">
									#if (attachments[i].type == "P") { #
										<i class="fas #:mService.icons.knowledgebase.pdf#" style="margin: 0; font-size: 2em !important;"></i>
									#} else if (attachments[i].type == "D") {# 
										<i class="fas #:mService.icons.knowledgebase.alt#" style="margin: 0; font-size: 2em !important;"></i>
									#} else if (attachments[i].type == "E" || attachments[i].type == "EX") { #
										<i class="fas #:mService.icons.knowledgebase.excel#" style="margin: 0; font-size: 2em !important;"></i>
									# } else { #
										<i class="fas #:mService.icons.knowledgebase.alt#" style="margin: 0; font-size: 2em !important;"></i>
									#}#
								</span>
							</div>
						# } #
					# } #
				</div>
					# } #
				</div>
				# if (attachments.length>1) { #
					<div id="#:info.id#_rightNav" data-ms-chat-theme="#:theme#" data-ms-widget-type="msWidget" data-ms-widget-group="msChat" data-ms-widget-role="rightNav" data-ms-for="#: id #" data-ms-info-id="#: info.id #" data-ms-attachment-totalCount="#: attachments.length #" style="flex: 10;font-size: 1.5em;border-radius: 50%;display: flex;align-items: center; solid;height: 1.5em;width: 1.5em;justify-content: center;cursor:pointer;">
						<span style="display: flex; justify-content: center;cursor: pointer;">
							<i class="fas fa-angle-right ms_chat_attachment_pager_icon_#:theme# "></i></span>
					</div>
				# } #
			</div>
			# if (attachments.length>1) { #
				<div id="#:info.id#_pager" style='width: 100%;height: 8%;bottom:0;display:flex;align-items:center;justify-content:center;' class='scroller'>
					<div style='display: flex;justify-content: center;align-items: center;padding-top: 1em;'>
						<div style='width: 30vw;display: flex;justify-content: center;'>
							<ol class='k-pages km-pages' id='#: info.id #_pager_list' style='list-style: none;white-space: nowrap;display: flex;text-align: center;margin: 0;padding: 0.6em 0 0;height: 1.5em;align-items: center;'>
								# for (var i = 0; i < attachments.length; i++){#
									# if (i === 0) { #
										<li id="#:info.id#_pager_#:i+1#"  class="ms_chat_attachment_pager_active_default ms_chat_attachment_pager_active_#:theme#"></li>
									# } else { #
										<li id="#:info.id#_pager_#:i+1#" class="ms_chat_attachment_pager_default  ms_chat_attachment_pager_#:theme#"></li>
									# } #
								#}#
							</ol>
						</div>
					</div>
				</div>
			# } #
		</div>
	</div>
	# if (sender) { #
			<div style="display: flex;align-self: flex-end; order:2;">
				<div style="display: flex;justify-content: center;align-items: center;max-width: 4em;max-height: 4em;margin-right: 0.4em;border-radius: 50%;overflow: hidden;padding:2em;" class="ms_chat_profile_#:theme#">
	# } else { #
		<div style="display: flex;margin: 0em 0em 1em 1em;order:1;">
			<div style="display: flex;  justify-content: center;  align-items: center;  max-width: 4em;max-height: 4em;margin-right: .4em;border-radius: 50%;overflow: hidden;padding: 2em;" class="ms_chat_profile_#:theme#">
	# } #
			# if (from.sysMsg === "true") { #
				<img src="#:localPathRoot#/ux/image/#: mService.app.getClientId() #/#: mService.app.getCountryCode() #/app_header_icon.png" alt="#: mService.app.name #" data-ms-widget-type="msWidget" data-ms-widget-group="msChat" data-ms-widget-role="viewAttachment" data-ms-chat-scrid="#: scrID#" data-ms-listview-param='{"attachType":"I", "attachSrc":"#:localPathRoot#/ux/image/#: mService.app.getClientId() #/#: mService.app.getCountryCode() #/app_header_icon.png"}' style="width: 4em;height: 4em;object-fit: contain;cursor: pointer;" />
			# } else { #
				<span style="color: \#fff;font-size: 20px;"> #:from.initial# </span>
			# } #
	</div>
</div>
</script>
<script id="msChatActionPanelTemplate" data-ms-mswidget-for="my_activities_open_chat_content"
	data-ms-mswidget-template-type="workflowAction" type="text/x-kendo-tmpl">
# for (var i = 0; i < actions.length; i++){#
	<div data-ms-widget-type="msWidget" data-ms-widget-group="msChat" data-ms-widget-role="actions" data-ms-for="#: id #"  data-ms-value="#: actions[i].value#" data-ms-listview-param='{"title":"#: actions[i].title #", "value":"#: actions[i].value #", "to_wf_stage":"#: actions[i].to_wf_stage #", "to_wf_status":"#: actions[i].to_wf_status #"}' data-ms-custom="#:JSON.stringify(actions[i].custom)#" title="#:actions[i].title #" style="cursor: pointer;">
		#if (actions[i].value == "@ACCEPT") { #
			<span style="height: 3em;display: flex;justify-content: center;align-items: center;border-radius: 20px;color:\#fff;padding: 0.8em;margin: 0.4em;    background-image: linear-gradient(143deg, \#56ab2f, \#28a745, \#28a745, \#56ab2f) !important;">
		#} else if (actions[i].value == "@REJECT") {# 
			<span style="height: 3em;display: flex;justify-content: center;align-items: center;border-radius: 20px;background-image: linear-gradient(143deg, \#dc3545, \#dc3545, \#dc3545, \#dc3545) !important; color:\#fff;padding: 0.8em;margin: 0.4em;" title="#:actions[i].title #">
		#} else if (actions[i].value == "@CONTACTEDCUSTOMER") { #
			<span style="height: 3em;display: flex;jus 2emtify-content: center;align-items: center;border-radius: 20px;background-color: \#7608fd;color:\#fff;padding: 0.8em;margin: 0.4em;" title="#:actions[i].title #">
		#} else if (actions[i].value == "@PROGRESSUPDATE") { #
			<span style="height: 3em;display: flex;justify-content: center;align-items: center;border-radius: 20px;background-color: \#cc0099;color:\#fff;padding: 0.8em;margin: 0.4em;" title="#:actions[i].title #">
		#} else if (actions[i].value == "@COMPLETE") { #
			<span style="height: 3em;display: flex;justify-content: center;align-items: center;border-radius: 20px;background-color: \#60C80F;color:\#fff;padding: 0.8em;margin: 0.4em;" title="#:actions[i].title #">
		#} else if (actions[i].value == "@REOPEN") { #
			<span style="height: 3em;display: flex;justify-content: center;align-items: center;border-radius: 20px;background-color: \#e5294c;color:\#fff;padding: 0.8em;margin: 0.4em;" title="#:actions[i].title #">
		#} else if (actions[i].value == "@CLOSE") { #
			<span style="height: 3em;display: flex;justify-content: center;align-items: center;border-radius: 20px;background-color: \#60C80F;color:\#fff;padding: 0.8em;margin: 0.4em;" title="#:actions[i].title #">
		# } else { #
			<span style="height: 3em;display: flex;justify-content: center;align-items: center;border-radius: 20px;color:\#fff;padding: 0.8em;margin: 0.4em;" title="#:actions[i].title #" class="ms_chat_actions">
		#}#
				<span>#: actions[i].title #</span>
			</span>
	</div>
# } #
</script>
<script id="msChatActionTemplate" data-ms-mswidget-for="my_activities_open_chat_content"
	data-ms-mswidget-template-type="action" type="text/x-kendo-template">
	# 
		let localPathRoot = (mService.app.channel === "web")?("www"):("..");
		let sender = ((from.id.toLowerCase() === mService.app.getUserId().toLowerCase()) && (from.sysMsg !== "true"))?(true):(false);
		let iscontentTranslated = (data.translations !== undefined && data.translations !== "" && data.translations !== null)?(true):(false);
		let translation = (translations !== undefined && data.translations !== "" && data.translations !== null)?(data.translations[mService.app.getLocaleId().substring(0, 2)]):("");
		let msgContent = ((content.replace("&nbsp;","").trim().indexOf("\n") !== -1 || content.replace("&nbsp;","").trim().indexOf("<br>") !== -1))?(content.replace("&nbsp;","").trim().replace(/<br>/g, "\n")):(content.replace("&nbsp;","").trim());
		let selectedAction = actionPath.split('/').pop().replace("@","");
	#
	# if (sender) { #
		<div style="display: flex; justify-content: flex-end; margin: 1em 0 1em 1em;">
			<div data-ms-chat-bubble-container="true" style="max-width: 75%; border: 1px solid;border-radius: 25px 25px 0px 25px;padding: .7em; order:1;" class="ms_chat_bubble_#:theme#">
	# } else { #
		<div style="display: flex;margin: 1em 0;;">
			<div data-ms-chat-bubble-container="true" style="max-width: 75% ; border: 1px solid;border-radius: 0px 25px 25px 25px;padding: .7em;order:2;"  class="ms_chat_bubble_#:theme#">
	# } #
	<div style="display: flex; justify-content: space-between; margin-bottom: .5em; border-bottom: 1px solid rgba(237, 237, 237, 0.96);align-items: flex-end;order:1;">			
		# if (sender) { #			
			<strong style="margin-right: 1em;" class="ms_chat_bubble_header_#:theme#" class="ms_chat_bubble_header_#:theme#">You</strong>
		# } else { #
			<strong style="margin-right: 1em;" class="ms_chat_bubble_header_#:theme#">#: (from.sysMsg
				==="true")?(mService.app.name):(from.name)#</strong>
		# } #
		<em style="font-size: 10px;" class="ms_chat_bubble_header_time_#:theme#">#: mService.util.date.getDateTimeString(mService.util.date.getParseDate(info.date,info.hour,info.min,info.sec),'dd MMM HH:mm') #</em>
	</div>
	<span data-ms-msg-info-id="#:info.id#"></span>
	# if (iscontentTranslated && translation!== undefined) { #
		<p style="padding-left: .7em; line-height: 1.8">
			#: translation #
		</p>
			# if (translation !== content.replace("&nbsp;","").trim()) { #
			<details style="padding-left: .7em;padding-top: .5em;cursor: pointer;">
				<summary style="font-style: italic;" class="ms_chat_bubble_translation_header_#:theme#">Original</summary>
				<p style="padding-left: 1.3em;padding-top: 0.7em; font-style: italic; line-height: 1.3" class="ms_chat_bubble_translation_content_#:theme#">#: content.replace("&nbsp;","").trim() #</p>
			</details>
		# } #
	# } else { #
		<p style="padding-left: .7em; line-height: 1.8">
			# if (selectedAction ==="STARTVISIT") { #
				Started the visit to site
			# } else if (selectedAction ==="CLOSE"){ #
				Call is closed
			# } else if (selectedAction ==="CONTACTEDCUSTOMER"){ #
				Conctacted the customer over phone
			# } else if (selectedAction ==="ACCEPT"){ #
				Call is accepted
			# } else if (selectedAction ==="REJECT"){ #
				Call is rejected
			# } else if (selectedAction ==="PROGRESSUPDATE"){ #
				Call progress is updated with
				#if (custom.PROGRESSUPDATE_reason_code !==""){#
						reason: '#: custom.PROGRESSUPDATE_reason_code #'
				# } #
				#if (custom.PROGRESSUPDATE_comments !==""){#
						comment: '#: custom.PROGRESSUPDATE_comments #'
				# } #
			# } else if (selectedAction ==="COMPLETE"){ #
				Call is completed #if (custom.COMPLETE_comments !==""){#
					with the following comment: '#: custom.COMPLETE_comments #'
				# } #
			# } else if (selectedAction ==="REOPEN"){ #
				Call is reopened 
			# } else if (selectedAction ==="CONFIRM"){ #
				Call is confirmed
			# } else { #
				#: msgContent #
			# } #
			
		</p>

		#if (selectedAction ==="COMPLETE"){ #
			# if (attachments.length>0) { #
				<div style="display:flex;align-items: center;justify-content: center;">
					# if (attachments.length>1) { #
							<div id="#:info.id#_leftNav" data-ms-chat-theme="#:theme#" data-ms-widget-type="msWidget" data-ms-widget-group="msChat" data-ms-widget-role="leftNav" data-ms-for="#: id #" data-ms-info-id="#: info.id #" data-ms-attachment-totalCount="#: attachments.length #" style="opacity: 0.5;flex: 10;font-size: 1.5em;border-radius: 50%;display: flex;align-items: center; solid;height: 1.5em;width: 1.5em;justify-content: center;cursor:pointer;">
								<span style="display: flex; justify-content: center;cursor: pointer;"><i class="fas fa-angle-left ms_chat_attachment_pager_icon_#:theme#""></i></span>
							</div>
						# } #
						<div id="#: id #_attachment_container" style="flex: 90;display: flex; max-width:75%;justify-content: center;overflow: hidden;" >
							# for (var i = 0; i < attachments.length; i++){#
								# if (i===0) { #
									<div id="#:info.id#_#:i+1#" ms-data-chat-attachtment-count="#:i+1#"  style="width:100%;display: flex;justify-content: center;margin-top: .5em;cursor: pointer;" data-ms-widget-type="msWidget" data-ms-widget-group="msChat" data-ms-widget-role="viewAttachment" data-ms-for="#: id #" data-ms-chat-scrid="#: scrID#" data-ms-listview-param='{"attachType":"#: attachments[i].type #", "attachSrc":"#: mService.app.clientURL + "/" + "content_store" + "/" + mService.app.getClientId() + "/" + mService.app.getCountryCode() + "/" + attachments[i].src #"}'">
								# } else { #
									<div id="#:info.id#_#:i+1#" ms-data-chat-attachtment-count="#:i+1#" style="width:100%;justify-content: center;margin-top: .5em;display:none;cursor: pointer;" data-ms-widget-type="msWidget" data-ms-widget-group="msChat" data-ms-widget-role="viewAttachment" data-ms-for="#: id #" data-ms-chat-scrid="#: scrID#" data-ms-listview-param='{"attachType":"#: attachments[i].type #", "attachSrc":"#: mService.app.clientURL + "/" + "content_store" + "/" + mService.app.getClientId() + "/" + mService.app.getCountryCode() + "/" + attachments[i].src #"}'">
								# } #
								# if (attachments[i].type === "I") { #
									<img src="#: mService.app.clientURL + "/" + "content_store" + "/" + mService.app.getClientId() + "/" +mService.app.getCountryCode() + "/" + attachments[i].src #"  style=" max-width:75%;height: 120px;display: block;margin-left: auto;margin-right: auto;cursor: pointer;"/>
								# } else { #
									# if (attachments[i].type == "A" || attachments[i].type == "V") { #
										
											# if (attachments[i].type == "A") { #
											<audio src="#: mService.app.clientURL + "/" + "content_store" + "/" + mService.app.getClientId() + "/" + mService.app.getCountryCode() + "/" + attachments[i].src #" preload="metadata" controls="" controlslist="nodownload noremoteplayback noplaybackrate" onplay="mService.widgets.init.util.pausePlayer(this);" data-ms-status="not_playing"></audio>
											# } else if (attachments[i].type == "V") { #
												<video  src="#: mService.app.clientURL + "/"+ "content_store" + "/" + mService.app.getClientId() + "/" + mService.app.getCountryCode() + "/" +attachments[i].src #"  preload="none" webboost_found_paused="true" webboost_processed="true" webboost_videoid="0" webboost_userplayed="true" disablepictureinpicture="" controlslist="nodownload noremoteplayback noplaybackrate" poster="#:localPathRoot#/ux/image/chat_poster.png" style="max-width: 75%; box-shadow: rgb(0 0 0 / 24%) 0px 3px 8px;" onplay="mService.widgets.init.util.pausePlayer(this);" data-ms-status="not_playing"></video>
											# } #
										
									# } else { #
										<div style=" width: 100%; height: 6em; display: grid; place-items: center">
											<span class="ms_chat_attachment_#:theme#"  style="height: 4em;width: 4em;display: grid;place-items: center;border-radius: 50%;margin: 0.5em;cursor: pointer;">
												#if (attachments[i].type == "P") { #
													<i class="fas #:mService.icons.knowledgebase.pdf#" style="margin: 0; font-size: 2em !important;"></i>
												#} else if (attachments[i].type == "D") {# 
													<i class="fas #:mService.icons.knowledgebase.alt#" style="margin: 0; font-size: 2em !important;"></i>
												#} else if (attachments[i].type == "E" || attachments[i].type == "EX") { #
													<i class="fas #:mService.icons.knowledgebase.excel#" style="margin: 0; font-size: 2em !important;"></i>
												# } else { #
													<i class="fas #:mService.icons.knowledgebase.alt#" style="margin: 0; font-size: 2em !important;"></i>
												#}#
											</span>
										</div>
									# } #
								# } #
							</div>
								# } #
							</div>
							# if (attachments.length>1) { #
								<div id="#:info.id#_rightNav" data-ms-chat-theme="#:theme#" data-ms-widget-type="msWidget" data-ms-widget-group="msChat" data-ms-widget-role="rightNav" data-ms-for="#: id #" data-ms-info-id="#: info.id #" data-ms-attachment-totalCount="#: attachments.length #" style="flex: 10;font-size: 1.5em;border-radius: 50%;display: flex;align-items: center; solid;height: 1.5em;width: 1.5em;justify-content: center;cursor:pointer;">
									<span style="display: flex; justify-content: center;cursor: pointer;">
										<i class="fas fa-angle-right ms_chat_attachment_pager_icon_#:theme#""></i></span>
								</div>
							# } #
						</div>
						# if (attachments.length>1) { #
							<div id="#:info.id#_pager" style='width: 100%;height: 8%;bottom:0;display:flex;align-items:center;justify-content:center;margin-bottom: 1em;' class='scroller'>
								<div style='display: flex;justify-content: center;align-items: center;padding-top: 1em;'>
									<div style='width: 30vw;display: flex;justify-content: center;'>
										<ol class='k-pages km-pages' id='#: info.id #_pager_list' style='list-style: none;white-space: nowrap;display: flex;text-align: center;margin: 0; gap:.6em;padding: 0.6em 0 0;height: 1.5em;align-items: center;'>
											# for (var i = 0; i < attachments.length; i++){#
												# if (i === 0) { #
													<li id="#:info.id#_pager_#:i+1#"  class="ms_chat_attachment_pager_active_default ms_chat_attachment_pager_active_#:theme#"></li>
												# } else { #
													<li id="#:info.id#_pager_#:i+1#" class="ms_chat_attachment_pager_default  ms_chat_attachment_pager_#:theme#"></li>
												# } #
											#}#
										</ol>
									</div>
								</div>
							</div>
						# } #
			#}#
		#}#
		<div>
			<span style="font-weight: bold;">
				# if (selectedAction ==="STARTVISIT") { #
						VISIT START	
				# } else if (selectedAction ==="CLOSE"){ #
						CALL-CLOSE
				# } else if (selectedAction ==="CONTACTEDCUSTOMER"){ #
						CUSTOMER CONTACT
				# } else if (selectedAction ==="ACCEPT"){ #
						CALL-ACCEPT
				# } else if (selectedAction ==="REJECT"){ #
						CALL-REJECT
				# } else if (selectedAction ==="PROGRESSUPDATE"){ #
						PROGRESS-UPDATE
				# } else if (selectedAction ==="COMPLETE"){ #
						CALL-COMPLETE
				# } else if (selectedAction ==="REOPEN"){ #
						CALL-REOPEN 
				# } else if (selectedAction ==="CONFIRM"){ #
						CALL-CONFIRM
				# } else { #
					- #: actionPath.split('/').pop().replace("@","") #
				# } #
				
			</span>
		</div>
	# } #
	<div class="k-quick-replies" style="margin-left: 2em;margin-top: 5px;">
		# for (var i = 0; i < suggestions.length; i++){#
			<span data-ms-widget-type="msWidget" data-ms-widget-group="msChat" data-ms-widget-role="suggestion" data-ms-for="#: id #" class=" ms_chat_bubble_suggestion_#:theme#" data-ms-value="#:suggestions[i].value#" data-ms-listview-param='{"title":"#:suggestions[i].title #", "value":"#: suggestions[i].value #"}' data-ms-custom="#:JSON.stringify(suggestions[i].custom)#" style="margin: 0.5em;border-radius: 100px; margin-right: 8px;margin-bottom: 4px;padding: 8px 12px;border-width: 1px;border-style: solid;line-height: 18px;cursor: pointer;-webkit-user-select: none;-ms-user-select: none;user-select: none;display: inline-block;-ms-flex: 0 0 auto;flex: 0 0 auto;transition-property: color, background-color, border-color;transition-duration: .2s;transition-timing-function: ease-in-out;cursor: pointer;outline: none;gap: 1em;border-radius: 30px;padding: 1em;">
			<div style="display: flex;">
				#if(suggestions[i].suggestionGroup !== undefined && mService.icons[suggestions[i].suggestionGroup] !== undefined && mService.icons[suggestions[i].suggestionGroup][(suggestions[i].value).replace("@","")] !== undefined){#
					<span>
						<i class="#:mService.icons[suggestions[i].suggestionGroup][(suggestions[i].value).replace("@","")]#" style="padding-right: 0.5em;font-size: 1.3em;"></i>
					</span>
				#}#
				<span style="display: flex;align-items: center;">#: suggestions[i].title#</span>
			</div>
		</span>
		# } #
		</div>
	</div>
	# if (sender) { #
		<div style="display: flex;align-self: flex-end; order:2;">
			<div style="display: flex;  justify-content: center;  align-items: center;  max-width: 4em;  max-height: 4em;margin-right: .4em; margin-left: .4em;border-radius: 50%;overflow: hidden;padding: 2em;" class="ms_chat_profile_#:theme#">
		
	# } else { #
		<div style="display: flex;margin: 1em 0;order:1;">
			<div style="display: flex;  justify-content: center;  align-items: center;  max-width: 4em;max-height: 4em;margin-right: .4em;border-radius: 50%;overflow: hidden;padding: 2em;" class="ms_chat_profile_#:theme#">
	# } #
			# if (from.sysMsg === "true") { #
				<img class="k-avatar" src="#:localPathRoot#/ux/image/#: mService.app.getClientId() #/#: mService.app.getCountryCode() #/app_header_icon.png" alt="#: mService.app.name #" data-ms-widget-type="msWidget" data-ms-widget-group="msChat" data-ms-widget-role="viewAttachment" data-ms-for="#: id #"data-ms-chat-scrid="#: scrID#" data-ms-listview-param='{"attachType":"I", "attachSrc":"#:localPathRoot#/ux/image/#: mService.app.getClientId() #/#: mService.app.getCountryCode() #/app_header_icon.png"}' style="width: 4em;height: 4em;object-fit: contain;cursor: pointer;" />
			# } else { #
				<span style="color: \#fff;font-size: 20px;"> #:from.initial# </span>
			# } #
	</div>
</div>
</script>
<script id="msChatActionFormPanelTemplate" data-ms-mswidget-for="my_activities_open_chat_content"
	data-ms-mswidget-template-type="actionSheet" type="text/x-kendo-tmpl">
	<input id ="#: id #_REASSIGN_to_employee_id" action_widget_for="REASSIGN" data-ms-widget-type="msDropdownlist" data-ms-widget-prop-lblgrpid="form" data-ms-widget-prop-lblid="REASSIGN_to_employee_id"  data-ms-widget-prop-textfield="emp_name" data-ms-widget-prop-valuefield="emp_id" data-ms-widget-prop-template="text" data-ms-widget-prop-datasrc='{"code":"&apos;call_assignto_employee_list&apos;","inputXml":""}' data-ms-widget-prop-savefield="true"/>
	<!--<input id ="#: id #_test" action_widget_for="ACCEPT" data-ms-widget-type="msDropdownlist" data-ms-widget-prop-lblgrpid="form" data-ms-widget-prop-lblid="PROGRESSUPDATE_reason_code"  data-ms-widget-prop-textfield="description" data-ms-widget-prop-valuefield="code" data-ms-widget-prop-template="text" data-ms-widget-prop-datasrc='{"code":"&apos;file_size_allowed&apos;","inputXml":""}' data-ms-widget-prop-savefield="true"/>-->
	<input id="#: id #_COMPLETE_comments" action_widget_for="COMPLETE" data-ms-widget-type="msTextarea" data-ms-widget-prop-lblgrpid="form" data-ms-widget-prop-lblid="comments" data-ms-widget-prop-maxlen="500" data-ms-widget-prop-savefield="true"/>
	<input id ="#: id #_COMPLETE_attachment" action_widget_for="COMPLETE" data-ms-widget-type="msAttachment" data-ms-widget-prop-lblgrpid="form" data-ms-widget-prop-lblid="attachment" data-ms-widget-prop-mandatory="true"   data-ms-widget-prop-filesizekey="ALLOWED_ATTACHMENT_SIZE_CACHE" data-ms-widget-prop-fileextensionkey="ALLOWED_ATTACHMENT_EXTENSION_CACHE" data-ms-widget-prop-maxlimit="1" data-ms-widget-prop-multiple="false" data-ms-widget-prop-savefield="true"/>
	<input id ="#: id #_PROGRESSUPDATE_reason_code" action_widget_for="PROGRESSUPDATE" data-ms-widget-type="msRadiogroup" data-ms-widget-prop-lblgrpid="form" data-ms-widget-prop-lblid="PROGRESSUPDATE_reason_code"  data-ms-widget-prop-textfield="description" data-ms-widget-prop-valuefield="code" data-ms-widget-prop-template="text" data-ms-widget-prop-datasrc="[{&quot;code&quot;:&quot;Send to workshop&quot;, &quot;description&quot;:&quot;Send to workshop&quot;},{&quot;code&quot;:&quot;Waiting for PO&quot;, &quot;description&quot;:&quot;Waiting for PO&quot;},{&quot;code&quot;:&quot;Waiting for spare part&quot;, &quot;description&quot;:&quot;Waiting for spare part&quot;},{&quot;code&quot;:&quot;Production Line Unavailability&quot;, &quot;description&quot;:&quot;Production Line Unavailability&quot;},{&quot;code&quot;:&quot;Others&quot;, &quot;description&quot;:&quot;Others&quot;}]" data-ms-widget-prop-savefield="true"/>
	<input id="#: id #_PROGRESSUPDATE_comments" action_widget_for="PROGRESSUPDATE" data-ms-widget-type="msTextarea" data-ms-widget-prop-lblgrpid="form" data-ms-widget-prop-lblid="comments" data-ms-widget-prop-maxlen="500" data-ms-widget-prop-savefield="true"/>
	<div style="padding-top:2em;">
		<input id ="#: id #_CLOSE_overall_feedback" action_widget_for="CLOSE1" data-ms-widget-type="msRating" data-ms-widget-prop-lblgrpid="form" data-ms-widget-prop-lblid="overall_feedback"  data-ms-widget-prop-savefield="true" data-ms-widget-prop-showlabel="false"/>
	</div>
</script>
<script id="my_activities_open_list_empty_state_template" data-ms-mswidget-for="my_activities_open_chat_content"
	data-ms-mswidget-template-type="emptyState" type="text/x-kendo-tmpl">
	<div style="display: flex;justify-content: center;flex-direction: column;align-items: center; height: 70vh;">
        <div class="ms_list_empty_state" style=" width: 12em;height: 12em;display: flex;align-items: center;justify-content: center;position: relative;border-radius: 40px; margin-bottom: 3em;">
            <i class="fa-duotone fa-cards-blank" style="font-size: 69px;rotate: 269deg;"></i>
        </div>
        <div class="ms_list_empty_state_content">
            <h3 data-ms-lbl="field" data-ms-lbl-src="system_messages" data-ms-lbl-grpid="emptyState" data-ms-lbl-id="query_list_empty_message_heading" style="text-align: center; font-size: 24px;font-weight: 500;margin-bottom:1em;"></h3>
            <p data-ms-lbl="field" data-ms-lbl-src="system_messages" data-ms-lbl-grpid="emptyState" data-ms-lbl-id="query_list_empty_message_sub_heading" style="text-align: center; font-size: 13px; width: 16em;"></p>
        </div>
    </div>
</script>