IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[salesinvoice_header]') AND type in (N'U'))
	BEGIN
		DROP TABLE [dbo].[salesinvoice_header]
	END
/****** Object:  Table [dbo].[salesinvoice_header]    Script Date: 11-03-2024 17:32:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[salesinvoice_header](
	[company_id] [varchar](20) NOT NULL,
	[country_code] [varchar](5) NOT NULL,
	[fiscal_year] [varchar](7) NOT NULL,
	[invoice_no] [nvarchar](30) NOT NULL,
	[invoice_category] [varchar](5) NOT NULL,
	[invoice_type] [varchar](10) NOT NULL,
	[invoice_wf_stage_no] [tinyint] NOT NULL,
	[invoice_status] [varchar](2) NOT NULL,
	[invoice_date] [datetimeoffset](7) NOT NULL,
	[buyer_customer_id] [varchar](15) NOT NULL,
	[buyer_customer_location_code] [nvarchar](10) NULL,
	[buyer_address_line_1] [varchar](200) NOT NULL,
	[buyer_address_line_2] [varchar](200) NULL,
	[buyer_address_line_3] [varchar](200) NULL,
	[buyer_city] [nvarchar](60) NOT NULL,
	[buyer_state] [nvarchar](60) NOT NULL,
	[buyer_country] [nvarchar](3) NOT NULL,
	[buyer_pincode] [varchar](10) NOT NULL,
	[consignee_customer_id] [varchar](15) NULL,
	[consignee_customer_location_code] [nvarchar](10) NULL,
	[consignee_address_line_1] [varchar](200) NULL,
	[consignee_address_line_2] [varchar](200) NULL,
	[consignee_address_line_3] [varchar](200) NULL,
	[consignee_city] [nvarchar](60) NULL,
	[consignee_state] [nvarchar](60) NULL,
	[consignee_country] [nvarchar](3) NULL,
	[consignee_pincode] [varchar](10) NULL,
	[seller_id] [varchar](15) NOT NULL,
	[seller_location_code] [nvarchar](8) NOT NULL,
	[seller_address_line_1] [varchar](200) NULL,
	[seller_address_line_2] [varchar](200) NULL,
	[seller_address_line_3] [varchar](200) NULL,
	[seller_city] [nvarchar](60) NULL,
	[seller_state] [nvarchar](60) NULL,
	[seller_country] [nvarchar](3) NULL,
	[seller_pincode] [varchar](10) NULL,
	[place_of_despatch] [nvarchar](30) NULL,
	[destination] [nvarchar](30) NULL,
	[despatch_mode_road_rail] [varchar](5) NULL,
	[buyer_reference] [nvarchar](600) NULL,
	[buyer_reference_date] [datetimeoffset](7) NULL,
	[other_reference] [nvarchar](600) NULL,
	[payment_terms] [nvarchar](1000) NULL,
	[delivery_terms] [nvarchar](1000) NULL,
	[despatch_details] [nvarchar](1000) NULL,
	[terms_conditions] [nvarchar](1000) NULL,
	[summary_comments] [nvarchar](1000) NULL,
	[warehouse_id] [nvarchar](50) NOT NULL,
	[organogram_level_no] [tinyint] NULL,
	[organogram_level_code] [nvarchar](15) NULL,
	[company_location_code] [nvarchar](8) NULL,
	[currency_code] [varchar](3) NOT NULL,
	[gross_amount] [decimal](18, 4) NULL,
	[tax_amount] [decimal](18, 4) NULL,
	[discount_amount] [decimal](18, 4) NULL,
	[addl_charges_amount] [decimal](18, 4) NULL,
	[net_amount] [decimal](18, 4) NULL,
	[invoice_file_no] [int] IDENTITY(1,1) NOT NULL,
	[invoice_final_pdf_upload] [int] NULL,
	[invoice_output_file_name] [nvarchar](100) NULL,
	[invoice_output_file_path] [nvarchar](200) NULL,
	[customer_order_no] [nvarchar](30) NULL,
	[udf_char_1] [nvarchar](60) NULL,
	[udf_char_2] [nvarchar](60) NULL,
	[udf_char_3] [nvarchar](60) NULL,
	[udf_char_4] [nvarchar](60) NULL,
	[udf_bit_1] [bit] NULL,
	[udf_bit_2] [bit] NULL,
	[udf_bit_3] [bit] NULL,
	[udf_bit_4] [bit] NULL,
	[udf_float_1] [float] NULL,
	[udf_float_2] [float] NULL,
	[udf_float_3] [float] NULL,
	[udf_float_4] [float] NULL,
	[udf_date_1] [datetimeoffset](7) NULL,
	[udf_date_2] [datetimeoffset](7) NULL,
	[udf_date_3] [datetimeoffset](7) NULL,
	[udf_date_4] [datetimeoffset](7) NULL,
	[udf_analysis_code1] [nvarchar](20) NULL,
	[udf_analysis_code2] [nvarchar](20) NULL,
	[udf_analysis_code3] [nvarchar](20) NULL,
	[udf_analysis_code4] [nvarchar](20) NULL,
	[product_udf_char_1] [nvarchar](60) NULL,
	[product_udf_char_2] [nvarchar](60) NULL,
	[product_udf_char_3] [nvarchar](60) NULL,
	[product_udf_char_4] [nvarchar](60) NULL,
	[product_udf_bit_1] [bit] NULL,
	[product_udf_bit_2] [bit] NULL,
	[product_udf_float_1] [float] NULL,
	[product_udf_float_2] [float] NULL,
	[product_udf_date_1] [datetimeoffset](7) NULL,
	[product_udf_date_2] [datetimeoffset](7) NULL,
	[product_udf_analysis_code1] [nvarchar](20) NULL,
	[product_udf_analysis_code2] [nvarchar](20) NULL,
	[product_udf_analysis_code3] [nvarchar](20) NULL,
	[product_udf_analysis_code4] [nvarchar](20) NULL,
	[acc_sys_no] [nvarchar](30) NULL,
	[product_udf_response_1] [nvarchar](max) NULL,
	[product_udf_response_2] [nvarchar](max) NULL,
	[product_udf_response_3] [nvarchar](max) NULL,
	[product_udf_response_4] [nvarchar](max) NULL,
	[product_udf_response_5] [nvarchar](max) NULL,
	[product_udf_response_6] [nvarchar](max) NULL,
	[product_udf_response_7] [nvarchar](max) NULL,
	[product_udf_response_8] [nvarchar](max) NULL,
	[product_udf_response_9] [nvarchar](max) NULL,
	[product_udf_response_10] [nvarchar](max) NULL,
	[last_update_id] [nvarchar](12) NOT NULL,
	[last_update_timestamp] [timestamp] NOT NULL,
 CONSTRAINT [PK_salesinvoice_header] PRIMARY KEY CLUSTERED 
(
	[company_id] ASC,
	[country_code] ASC,
	[invoice_no] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
