<html>
   <head>
        <style>
        body{
			        font-family:perpetua, Arial, san-serif;
			        font-size:16;
        }
		   .txt{
			        font-weight:bold;
			        padding-left: 10px;
			        padding-right:5px;
		   }
		   .indent
		   {
			        text-indent:50px;
		   }
		   .lbl
		   {
		   	
		   }
        </style>
    </head>
    <body>
       <div>
			        <p>Dear <b>Sir / Madam,</b></p>
              <p>Your password has been reset successfully.Please find the below new password to login </p>
			        <p class="indent"><span class="lbl">New Password: </span><span class="txt"><xsl:value-of select="$new_password"/> </span></p>
			        <p>Pl. use this <a href="{user:loginurl(string($domain_url),string($clientid))}" title="{user:loginurl(string($domain_url),string($clientid))}">link</a> to login to the application.</p>
			        <p class="txt"> Thanks.</p>
			        <p> This email is system generated. Pl. do not reply.</p>
        </div>
    </body>
</html>